<!-- HEAD / NAVIGATION -->
<app-navigation></app-navigation>
<div class="page-wrapper">
  <!-- SLIDER -->
  <!-- <app-slider
    [slide1ImageSrc]="slide1ImageSrc"
    [slide1Headline]="slide1Headline"
    [slide1Subline]="slide1Subline"
    [slide1Url]="slide1Url"
  ></app-slider> -->
  <!-- CONTENT -->
  <div class="container content text-align-center">
    <section>
      <h1>Kaufen</h1>
      <p>
        Finden Sie hier unsere exklusiven Eigentumswohnungen, die wir als
        Bauträger mit größter Sorgfalt und Expertise in hochwertigsten
        Wohnanlagen realisiert haben. Ob für Eigennutzer oder Kapitalanleger,
        unsere Immobilien überzeugen durch höchste Bauqualität, Nachhaltigkeit
        und ein langlebiges Konzept. Das hervorragende
        Preis-Leistungs-Verhältnis, und die attraktive, ausgewählte Lage, macht
        Ihr zukünftiges Wohneigentum zur perfekten Immobilie für Sie.
      </p>
      <div
        class="arrow-wrapper"
        data-animation="slideInDown"
        data-animation-delay="200ms"
      >
        <svg class="icon-arrow-down" viewBox="0 0 306 306">
          <polygon
            points="306 94.35 270.3 58.65 153 175.95 35.7 58.65 0 94.35 153 247.35 306 94.35"
          />
        </svg>
      </div>
    </section>

    <!-- *********************************** -->
    <!-- REFERENZ-VIEW -->
    <div class="reference-views-wrapper">
      <!-- REFERENZ-SLIDER -->
      <div class="reference-slider-wrapper">
        <div id="reference-slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-item active">
            <div class="object-name">
              Mehrfamilienhaus | Neustadt a.d. Aisch
            </div>
            <img
              class="d-block w-100"
              src="../../assets/img/kaufen/mfh-schlesienstrasse.jpg"
              alt="Test"
            />
          </div>
          <!-- <a
            class="carousel-control-prev"
            href="#reference-slider"
            role="button"
            data-slide="prev"
          >
            <div class="slide-prev-control-wrapper">
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
            </div>
          </a> -->
          <!-- <a
            class="carousel-control-next"
            href="#reference-slider"
            role="button"
            data-slide="next"
          >
            <div class="slide-next-control-wrapper">
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
            </div>
          </a> -->
        </div>
      </div>

      <!-- REFERENZ-DETAILS -->
      <div class="reference-details-wrapper">
        <div class="details-container">
          <h1>Details</h1>
          <div class="reference-details">
            <!-- STANDORT -->
            <div class="detail">
              <strong class="detail-label">Standort:</strong>
              <span class="detail-attribute">Neustadt a.d. Aisch</span>
            </div>
            <!-- BAUJAHR -->
            <div class="detail">
              <strong class="detail-label">Gepl. Baubeginn:</strong>
              <span class="detail-attribute">Herbst 2025</span>
            </div>
            <!-- HAUSTYP -->
            <div class="detail">
              <strong class="detail-label">Gepl. Fertigstellung:</strong>
              <span class="detail-attribute">Frühjahr 2027</span>
            </div>
            <!-- DACHFORM -->
            <div class="detail">
              <strong class="detail-label">Wohneinheiten:</strong>
              <span class="detail-attribute">9</span>
            </div>
            <!-- WOHNFLÄCHE -->
            <div class="detail">
              <strong class="detail-label">Anzahl der Zimmer:</strong>
              <span class="detail-attribute">2 bis 4</span>
            </div>
            <!-- WOHNGESCHOSSE -->
            <div class="detail">
              <strong class="detail-label">Geschosse:</strong>
              <span class="detail-attribute"
                >Kellergeschoss <br />
                Erdgeschoss<br />
                Obergeschoss<br />
                Dachgeschoss<br />
              </span>
            </div>
            <!-- AKTIONSHAUS -->
            <div class="detail">
              <strong class="detail-label">Haustyp:</strong>
              <span class="detail-attribute">Mehrfamilienhaus</span>
            </div>
          </div>
        </div>

        <div class="button-wrapper">
          <a
            (click)="kaufenService.waehleBauvorhaben('Objekt_NEA-1')"
            class="btn btn-primary"
            >Jetzt Exposé anfragen</a
          >
        </div>
      </div>
    </div>

    <div class="reference-views-wrapper">
      <!-- REFERENZ-SLIDER -->
      <div class="reference-slider-wrapper">
        <div
          id="reference-slider-2"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-item active">
            <div class="object-name">Doppelhaushälfte | Schwaig</div>
            <img
              class="d-block w-100"
              src="../../assets/img/kaufen/schwaig-1.png"
              alt="Test"
            />
          </div>
          <div class="carousel-item">
            <div class="object-name">Doppelhaushälfte | Schwaig</div>
            <img
              class="d-block w-100"
              src="../../assets/img/kaufen/schwaig-2.png"
              alt="Test"
            />
          </div>
          <div class="carousel-item">
            <div class="object-name">Doppelhaushälfte| Schwaig</div>
            <img
              class="d-block w-100"
              src="../../assets/img/kaufen/schwaig-3.png"
              alt="Test"
            />
          </div>
          <!-- <div class="carousel-item">
            <div class="object-name">Reihenhaus | Schwaig</div>
            <img
              class="d-block w-100"
              src="../../assets/img/kaufen/schwaig-4.png"
              alt="Test"
            />
          </div> -->
          <a
            class="carousel-control-prev"
            href="#reference-slider-2"
            role="button"
            data-slide="prev"
          >
            <div class="slide-prev-control-wrapper">
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
            </div>
          </a>
          <a
            class="carousel-control-next"
            href="#reference-slider-2"
            role="button"
            data-slide="next"
          >
            <div class="slide-next-control-wrapper">
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
            </div>
          </a>
        </div>
      </div>

      <!-- REFERENZ-DETAILS -->
      <div class="reference-details-wrapper">
        <div class="details-container">
          <h1>Details</h1>
          <div class="reference-details">
            <!-- STANDORT -->
            <div class="detail">
              <strong class="detail-label">Standort:</strong>
              <span class="detail-attribute">Schwaig bei Nürnberg</span>
            </div>
            <!-- HAUSTYP -->
            <div class="detail">
              <strong class="detail-label">Haustyp:</strong>
              <span class="detail-attribute">Doppelhaushälfte</span>
            </div>
            <!-- DACHFORM -->
            <div class="detail">
              <strong class="detail-label">Wohneinheiten:</strong>
              <span class="detail-attribute">5</span>
            </div>
            <!-- WOHNFLÄCHE -->
            <div class="detail">
              <strong class="detail-label">Wohnfläche:</strong>
              <span class="detail-attribute">153,08 m² - 199,47m²</span>
            </div>
            <!-- WOHNGESCHOSSE -->
            <div class="detail">
              <strong class="detail-label">Geschosse:</strong>
              <span class="detail-attribute">2 </span>
            </div>
          </div>
        </div>

        <div class="button-wrapper">
          <a
            (click)="kaufenService.waehleBauvorhaben('Objekt_Schwaig-1')"
            class="btn btn-primary"
            >Jetzt Exposé anfragen</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- SUB-NAVIGATION -->
  <app-sub-navigation
    [subNavItem1Headline]="subNavItem1Headline"
    [subNavItem1Subline]="subNavItem1Subline"
    [subNavItem1Url]="subNavItem1Url"
    [subNavItem1Size]="subNavItem1Size"
    [subNavItem1Id]="subNavItem1Id"
    [subNavItem2Headline]="subNavItem2Headline"
    [subNavItem2Subline]="subNavItem2Subline"
    [subNavItem2Url]="subNavItem2Url"
    [subNavItem2Size]="subNavItem2Size"
    [subNavItem2Id]="subNavItem2Id"
  ></app-sub-navigation>
</div>
<!-- FOOTER -->
<app-footer></app-footer>
