<!-- HEAD / NAVIGATION -->
<app-navigation></app-navigation>
<div class="page-wrapper">
  <!-- ALERT MODAL -->
  <!-- <div
  id="modal-banner"
  class="alert alert-dismissible slide-right show"
  role="alert"
>

  <a target="_blank">
    <img class="show-desktop" src="../../assets/img/banner/pop-up-7-25_desktop.png">
  </a>
  <a target="_blank">
    <img class="show-mobile" src="../../assets/img/banner/pop-up-7-25_mobile.jpg">
  </a>


  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="pop-up-link-wrapper">
    <div class="pop-up-headline">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
</svg>
      <h2>Anmeldung auch über Whatsapp oder Kontaktformular möglich</h2>
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
</svg>
    </div>
    <div class="pop-up-links">
<a href="https://api.whatsapp.com/message/NLBLFK6EZNYXN1?autoload=1&app_absent=0" class="btn btn-primary">Whatsapp</a>
    <a  routerLink="/kontakt" class="btn btn-primary">Kontakt</a>
    </div>

  </div>
</div> -->

  <!-- INTRO-VIDEO -->
  <div class="container-max-2000">
    <div id="intro-video-wrapper">
      <a href="/ueber-uns">
        <video
          id="intro-video"
          autoplay
          loop
          playsinline
          webkit-playsinline
          [muted]="'muted'"
        >
          <source src="../../assets/video/intro-video.mp4" type="video/mp4" />
          <source src="../../assets/video/intro-video.webm" type="video/webm" />
          Your browser does not support the video tag.
        </video>
        <!-- <div class="intro-video-text">
          <h1>
            Wir sind<br />
            das Meisterhaus
          </h1>
        </div> -->
      </a>
    </div>
  </div>

  <div class="welcome-info-wrapper">
    <div class="welcome-info">
      <a>
        <svg class="tease-arrow bounce" fill="#000000" viewBox="0 0 100 100">
          <g>
            <path
              d="M78.466,35.559L50.15,63.633L22.078,35.317c-0.777-0.785-2.044-0.789-2.828-0.012s-0.789,2.044-0.012,2.827L48.432,67.58
        c0.365,0.368,0.835,0.563,1.312,0.589c0.139,0.008,0.278-0.001,0.415-0.021c0.054,0.008,0.106,0.021,0.16,0.022
        c0.544,0.029,1.099-0.162,1.515-0.576l29.447-29.196c0.785-0.777,0.79-2.043,0.012-2.828S79.249,34.781,78.466,35.559z"
            />
          </g>
        </svg>
      </a>
      <h1>Wir sind das Meisterhaus</h1>
      <div class="welcome-info-text-container">
        <div class="welcome-info-text">
          <h2>Was bauen wir?</h2>
          <p>
            Von Einfamilienhäusern, Doppelhaushälften, Bungalows, bis hin zum
            Mehrfamilienhaus, bauen wir hochqualitative Ausbau- bis
            Schlüsselfertighäuser in Holz- und Massivbauweise. Dabei achten wir
            mit höchster Priorität auf Ihre Wünsche.
          </p>
        </div>
        <div class="welcome-info-text">
          <h2>Wo bauen wir?</h2>
          <p>
            Im Umkreis von 100km rund um unseren Standort in Neustadt an der
            Aisch, bauen wir für Sie in Holz- und Massivbauweise. Unsere
            Holzhäuser lassen sich durch die kurze Stellphase, auch bis an die
            Landesgrenze transportieren.
          </p>
        </div>
        <div class="welcome-info-text">
          <h2>Warum mit uns?</h2>
          <p>
            Wir sind die am besten bewertete Baufirma aus der Region! Diese hohe
            Zufriedenheit erreichen wir, weil unsere regionalen Handwerkspartner
            unsere Ansprüche kennen und wir zusammen mit ihnen größten Wert auf
            die Bauqualität und ihre Umsetzung in traditioneller und bewährter
            Bauweise legen.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- SUB-NAV -->
  <app-sub-navigation
    [subNavItem1Headline]="subNavItem1Headline"
    [subNavItem1Subline]="subNavItem1Subline"
    [subNavItem1Url]="subNavItem1Url"
    [subNavItem1Size]="subNavItem1Size"
    [subNavItem1Id]="subNavItem1Id"
    [subNavItem2Headline]="subNavItem2Headline"
    [subNavItem2Subline]="subNavItem2Subline"
    [subNavItem2Url]="subNavItem2Url"
    [subNavItem2Size]="subNavItem2Size"
    [subNavItem2Id]="subNavItem2Id"
    [subNavItem3Headline]="subNavItem3Headline"
    [subNavItem3Subline]="subNavItem3Subline"
    [subNavItem3Url]="subNavItem3Url"
    [subNavItem3Size]="subNavItem3Size"
    [subNavItem3Id]="subNavItem3Id"
    [subNavItem4Headline]="subNavItem4Headline"
    [subNavItem4Subline]="subNavItem4Subline"
    [subNavItem4Url]="subNavItem4Url"
    [subNavItem4Size]="subNavItem4Size"
    [subNavItem4Id]="subNavItem4Id"
    [subNavItem5Headline]="subNavItem5Headline"
    [subNavItem5Subline]="subNavItem5Subline"
    [subNavItem5Url]="subNavItem5Url"
    [subNavItem5Size]="subNavItem5Size"
    [subNavItem5Id]="subNavItem5Id"
  ></app-sub-navigation>
  <!-- TESTIMONIAL-SLIDER -->
  <app-testimonial-slider></app-testimonial-slider>
  <!-- NEWS-SECTION -->
  <div class="container">
    <section class="partner-section">
      <a>
        <svg class="tease-arrow bounce" fill="#000000" viewBox="0 0 100 100">
          <g>
            <path
              d="M78.466,35.559L50.15,63.633L22.078,35.317c-0.777-0.785-2.044-0.789-2.828-0.012s-0.789,2.044-0.012,2.827L48.432,67.58
        c0.365,0.368,0.835,0.563,1.312,0.589c0.139,0.008,0.278-0.001,0.415-0.021c0.054,0.008,0.106,0.021,0.16,0.022
        c0.544,0.029,1.099-0.162,1.515-0.576l29.447-29.196c0.785-0.777,0.79-2.043,0.012-2.828S79.249,34.781,78.466,35.559z"
            />
          </g>
        </svg>
      </a>
      <h1>Unsere Partner</h1>
      <div class="partner-wall">
        <a href="https://maps.app.goo.gl/h38XjY93xvpWbZ7k9" target="_blank">
          <img class="partner-logo" src="../../assets/img/partner/akm.png" />
        </a>
        <a href="https://www.bluemlein-bau.de/" target="_blank">
          <img
            class="partner-logo"
            src="../../assets/img/partner/bluemlein.png"
          />
        </a>
        <a href="https://brehm-erdbau.de/" target="_blank">
          <img class="partner-logo" src="../../assets/img/partner/brehm.png" />
        </a>
        <a href="https://chrit-treppen.de/" target="_blank">
          <img class="partner-logo" src="../../assets/img/partner/chrit.png" />
        </a>
        <a href="https://www.fischer-schalungsbau.de/" target="_blank">
          <img
            class="partner-logo"
            src="../../assets/img/partner/fischer.png"
          />
        </a>
        <a
          href="https://www.glassner-baustoffe.de/index.php?id=204&no_cache=1"
          target="_blank"
        >
          <img
            class="partner-logo"
            src="../../assets/img/partner/glassner.png"
          />
        </a>
        <a href="https://malerfachbetrieb-hanke.de/" target="_blank">
          <img class="partner-logo" src="../../assets/img/partner/hanke.png" />
        </a>
        <a href="https://www.instagram.com/naglerstuck.putz/" target="_blank">
          <img class="partner-logo" src="../../assets/img/partner/nagler.png" />
        </a>
        <a href="https://www.rausch-partner.net/" target="_blank">
          <img class="partner-logo" src="../../assets/img/partner/rausch.png" />
        </a>
        <a href="https://www.elektrotechnik-rs.de/" target="_blank">
          <img
            class="partner-logo"
            src="../../assets/img/partner/rs-elektro.png"
          />
        </a>
        <a href="https://www.rueckert-dottenheim.de/" target="_blank">
          <img
            class="partner-logo"
            src="../../assets/img/partner/rueckert.png"
          />
        </a>
        <a href="https://schubart-gmbh.de/" target="_blank">
          <img
            class="partner-logo"
            src="../../assets/img/partner/schubart.png"
          />
        </a>
        <a href="https://trockenbau-soldo.de/" target="_blank">
          <img class="partner-logo" src="../../assets/img/partner/soldo.png" />
        </a>
        <a href="https://voran-online.de/" target="_blank">
          <img class="partner-logo" src="../../assets/img/partner/voran.png" />
        </a>
        <a
          href="https://www.instagram.com/zfe_ziegel_fertigteil_elemente/"
          target="_blank"
        >
          <img class="partner-logo" src="../../assets/img/partner/zfe.png" />
        </a>
      </div>
    </section>
  </div>
</div>

<!-- FOOTER -->
<app-footer></app-footer>
