<!-- HEAD / NAVIGATION -->
<app-navigation></app-navigation>
<div class="page-wrapper">
  <!-- ALERT MODAL -->
  <!-- <div
  id="modal-banner"
  class="alert alert-dismissible slide-right show"
  role="alert"
>
  <div class="modal-banner-content">
    <div class="begin">
      <div class="logo-wrapper">
        <a href="/home">
          <img class="logo" src="../../assets/img/head/logo.png" />
        </a>
      </div>
      <div class="intro-flex">
        <div class="headline-wrapper">
          <div class="headline">
            <h1>Wir laden Sie ein zu unserem</h1>
            <h2 class="underlined-orange">Gewerbetag 2023!</h2>
          </div>

          <p class="marked">
            Dieser findet
            <strong>
              am Sonntag, den 12.03.2023 <br />von 10 - 17 Uhr in unserem Haus
            </strong>
            statt.
          </p>
        </div>
        <div class="frog-wrapper">
          <img class="frog" src="../../assets/img/banner/banner.png" />
        </div>
      </div>
    </div>

    <div class="vortraege">
      <h4>Mit Vorträgen zu den Themen:</h4>
      <div class="vortrag-flex">
        <div class="vortrag">
          <strong class="baufi-vortrag">Bauen wieder leistbar machen</strong>
          <p class="baufi-marked">
            11.00 – 11.30 Uhr
            <br />
            14.00 – 14.30 Uhr
          </p>
          <div class="vortrag-img">
            <img
              class="baufi"
              src="../../assets/img/banner/logo_baufimanufaktur.svg"
            />
          </div>
        </div>
        <div class="vortrag">
          <strong class="enersol-vortrag"
            >Mit Sonnenenergie unabhängig werden</strong
          >
          <p class="enersol-marked">
            11.30 – 12.00 Uhr
            <br />
            14.30 – 15.00 Uhr
          </p>
          <div class="vortrag-img">
            <img
              class="enersol"
              src="../../assets/img/banner/logo_enersol.svg"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="programm"></div>
  </div>

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->

  <!-- INTRO-VIDEO -->
  <div class="container-max-2000">
    <div id="intro-video-wrapper">
      <a href="/ueber-uns">
        <video
          id="intro-video"
          autoplay
          loop
          playsinline
          webkit-playsinline
          [muted]="'muted'"
        >
          <source src="../../assets/video/intro-video.mp4" type="video/mp4" />
          <source src="../../assets/video/intro-video.webm" type="video/webm" />
          Your browser does not support the video tag.
        </video>
        <!-- <div class="intro-video-text">
          <h1>
            Wir sind<br />
            das Meisterhaus
          </h1>
        </div> -->
      </a>
    </div>
  </div>

  <div class="welcome-info-wrapper">
    <div class="welcome-info">
      <a>
        <svg class="tease-arrow bounce" fill="#000000" viewBox="0 0 100 100">
          <g>
            <path
              d="M78.466,35.559L50.15,63.633L22.078,35.317c-0.777-0.785-2.044-0.789-2.828-0.012s-0.789,2.044-0.012,2.827L48.432,67.58
        c0.365,0.368,0.835,0.563,1.312,0.589c0.139,0.008,0.278-0.001,0.415-0.021c0.054,0.008,0.106,0.021,0.16,0.022
        c0.544,0.029,1.099-0.162,1.515-0.576l29.447-29.196c0.785-0.777,0.79-2.043,0.012-2.828S79.249,34.781,78.466,35.559z"
            />
          </g>
        </svg>
      </a>
      <h1>Wir sind das Meisterhaus</h1>
      <div class="welcome-info-text-container">
        <div class="welcome-info-text">
          <h2>Was bauen wir?</h2>
          <p>
            Hochqualitative Ein- bis Mehrfamilienhäuser, von Ausbau- bis
            Schlüsselfertighaus in Holz- und Massivbauweise, mit höchster
            Priorität auf Ihre Wünsche.
          </p>
          <p>
            Von Einfamilienhäusern, Doppelhaushälften, Bungalows, bis hin zum
            Mehrfamilienhaus, bauen wir hochqualitative Ausbau- bis
            Schlüsselfertighäuser in Holz- und Massivbauweise. Dabei achten wir
            mit höchster Priorität auf Ihre Wünsche.
          </p>
        </div>
        <div class="welcome-info-text">
          <h2>Wo bauen wir?</h2>
          <p>
            Im Umkreis von 100km rund um unseren Standort in Neustadt an der
            Aisch, bauen wir für Sie in Holz- und Massivbauweise. Unsere
            Holzhäuser lassen sich durch die kurze Stellphase, auch bis an die
            Landesgrenze transportieren.
          </p>
        </div>
        <div class="welcome-info-text">
          <h2>Warum mit uns?</h2>
          <p>
            Wir bauen mit regionalen Handwerkspartnern, die unsere Bauweisen
            kennen, verstehen und unsere Qualitätsansprüche erfüllen.
          </p>
          <p>
            Wir legen zusammen mit unseren regionalen Handwerkspartnern großen
            Wert auf die Bauqualität und Ihre Umsetzung, in Traditioneller und
            bewährter Bauweise.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- SUB-NAV -->
  <app-sub-navigation
    [subNavItem1Headline]="subNavItem1Headline"
    [subNavItem1Subline]="subNavItem1Subline"
    [subNavItem1Url]="subNavItem1Url"
    [subNavItem1Size]="subNavItem1Size"
    [subNavItem1Id]="subNavItem1Id"
    [subNavItem2Headline]="subNavItem2Headline"
    [subNavItem2Subline]="subNavItem2Subline"
    [subNavItem2Url]="subNavItem2Url"
    [subNavItem2Size]="subNavItem2Size"
    [subNavItem2Id]="subNavItem2Id"
    [subNavItem3Headline]="subNavItem3Headline"
    [subNavItem3Subline]="subNavItem3Subline"
    [subNavItem3Url]="subNavItem3Url"
    [subNavItem3Size]="subNavItem3Size"
    [subNavItem3Id]="subNavItem3Id"
    [subNavItem4Headline]="subNavItem4Headline"
    [subNavItem4Subline]="subNavItem4Subline"
    [subNavItem4Url]="subNavItem4Url"
    [subNavItem4Size]="subNavItem4Size"
    [subNavItem4Id]="subNavItem4Id"
    [subNavItem5Headline]="subNavItem5Headline"
    [subNavItem5Subline]="subNavItem5Subline"
    [subNavItem5Url]="subNavItem5Url"
    [subNavItem5Size]="subNavItem5Size"
    [subNavItem5Id]="subNavItem5Id"
  ></app-sub-navigation>
  <!-- TESTIMONIAL-SLIDER -->
  <app-testimonial-slider></app-testimonial-slider>
  <!-- NEWS-SECTION -->
  <!-- <div class="container">
  <section class="news-section">
    <svg class="icon-arrow-down" viewBox="0 0 306 306">
      <polygon
        points="306 94.35 270.3 58.65 153 175.95 35.7 58.65 0 94.35 153 247.35 306 94.35"
      />
    </svg>
    <h1>Neuigkeiten</h1>
    <div class="news-item-wrapper">
      <div class="news-item">
        <img src="../../assets/img/temp/news-item-img.jpg" />
        <div class="news-item-text">
          <h1>Hausbesichtigung Am 23.10.2019 in Weisendorf</h1>
          <p>
            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
            amet.
          </p>
          <a href="#">Mehr erfahren</a>
        </div>
      </div>
    </div>
  </section>
</div> -->
</div>

<!-- FOOTER -->
<app-footer></app-footer>
