<!-- HEAD / NAVIGATION -->
<app-navigation></app-navigation>
<div class="page-wrapper">
  <!-- SLIDER -->
  <app-slider
    [slide1ImageSrc]="slide1ImageSrc"
    [slide1Headline]="slide1Headline"
    [slide1Subline]="slide1Subline"
    [slide1Url]="slide1Url"
  ></app-slider>
  <!-- CONTENT -->
  <div class="container content text-align-center">
    <section>
      <img
        data-animation="fadeIn"
        data-animation-delay="200ms"
        class="logo-bauen"
        src="../../assets/img/bauen/logo-bauen.png"
      />
      <h1 data-animation="fadeIn" data-animation-delay="200ms">
        Wir vereinen Holz- & Massivbau
      </h1>
      <p data-animation="slideInUp" data-animation-delay="200ms">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
      <div
        class="arrow-wrapper"
        data-animation="slideInDown"
        data-animation-delay="200ms"
      >
        <svg class="icon-arrow-down" viewBox="0 0 306 306">
          <polygon
            points="306 94.35 270.3 58.65 153 175.95 35.7 58.65 0 94.35 153 247.35 306 94.35"
          />
        </svg>
      </div>
    </section>

    <section>
      <svg
        data-animation="slideInUp"
        data-animation-delay="200ms"
        class="number"
        viewBox="0 0 16 16"
      >
        <path
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383z"
        />
      </svg>
      <h2 data-animation="slideInUp" data-animation-delay="200ms">
        Sie entscheiden welche Bauweise
      </h2>
      <div class="bauweise-info-wrapper">
        <div class="holz-wrapper">
          <img
            data-animation="fadeIn"
            data-animation-delay="200ms"
            class="logo-holz"
            src="../../assets/img/bauen/logo-holz.png"
          />
          <h3 data-animation="slideInUp" data-animation-delay="200ms">
            Holzbauweise
          </h3>
          <p data-animation="slideInUp" data-animation-delay="200ms">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum.
          </p>
        </div>
        <div class="massiv-wrapper">
          <img
            data-animation="fadeIn"
            data-animation-delay="200ms"
            class="logo-massiv"
            src="../../assets/img/bauen/logo-massiv.png"
          />
          <h3 data-animation="slideInUp" data-animation-delay="200ms">
            Massivbauweise
          </h3>
          <p data-animation="slideInUp" data-animation-delay="200ms">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum.
          </p>
        </div>
      </div>
    </section>

    <div
      class="arrow-wrapper"
      data-animation="slideInDown"
      data-animation-delay="200ms"
    >
      <svg class="icon-arrow-down" viewBox="0 0 306 306">
        <polygon
          points="306 94.35 270.3 58.65 153 175.95 35.7 58.65 0 94.35 153 247.35 306 94.35"
        />
      </svg>
    </div>

    <section>
      <svg
        data-animation="slideInUp"
        data-animation-delay="200ms"
        class="number"
        viewBox="0 0 16 16"
      >
        <path
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306"
        />
      </svg>
      <h2 data-animation="slideInUp" data-animation-delay="200ms">
        Eigene Idee oder auf ein Konzept zugreifen
      </h2>
    </section>
  </div>

  <!-- SUB-NAVIGATION -->
  <app-sub-navigation
    [subNavItem1Headline]="subNavItem1Headline"
    [subNavItem1Subline]="subNavItem1Subline"
    [subNavItem1Url]="subNavItem1Url"
    [subNavItem1Size]="subNavItem1Size"
    [subNavItem1Id]="subNavItem1Id"
    [subNavItem2Headline]="subNavItem2Headline"
    [subNavItem2Subline]="subNavItem2Subline"
    [subNavItem2Url]="subNavItem2Url"
    [subNavItem2Size]="subNavItem2Size"
    [subNavItem2Id]="subNavItem2Id"
  ></app-sub-navigation>

  <div class="container content text-align-center">
    <div
      class="arrow-wrapper"
      data-animation="slideInDown"
      data-animation-delay="200ms"
    >
      <svg class="icon-arrow-down" viewBox="0 0 306 306">
        <polygon
          points="306 94.35 270.3 58.65 153 175.95 35.7 58.65 0 94.35 153 247.35 306 94.35"
        />
      </svg>
    </div>

    <section style="margin-bottom: 5em">
      <svg
        data-animation="slideInUp"
        data-animation-delay="200ms"
        class="number"
        viewBox="0 0 16 16"
      >
        <path
          d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318"
        />
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8"
        />
      </svg>
      <h2 data-animation="slideInUp" data-animation-delay="200ms">
        Direkt anfragen & profitieren Sie von:
      </h2>
      <a
        data-animation="slideInUp"
        data-animation-delay="200ms"
        href="/kontakt"
        class="btn btn-primary btn-lg"
        >Jetzt anfragen</a
      >
    </section>
  </div>
</div>
<!-- FOOTER -->
<app-footer></app-footer>
