<!-- HEAD / NAVIGATION -->
<app-navigation></app-navigation>
<div class="page-wrapper">
  <!-- SLIDER -->
  <app-slider
    [slide1ImageSrc]="slide1ImageSrc"
    [slide1Headline]="slide1Headline"
    [slide1Subline]="slide1Subline"
    [slide1Url]="slide1Url"
  ></app-slider>
  <!-- CONTENT -->
  <div class="container content text-align-center">
    <section>
      <img class="logo-bauen" src="../../assets/img/bauen/logo-bauen.png" />
      <h1>Wir vereinen Holz- & Massivbau</h1>
      <div
        class="arrow-wrapper"
        data-animation="slideInDown"
        data-animation-delay="200ms"
      >
        <svg class="icon-arrow-down" viewBox="0 0 306 306">
          <polygon
            points="306 94.35 270.3 58.65 153 175.95 35.7 58.65 0 94.35 153 247.35 306 94.35"
          />
        </svg>
      </div>
    </section>

    <section>
      <svg
        data-animation="zoomIn"
        data-animation-delay="200ms"
        class="number"
        viewBox="0 0 16 16"
      >
        <path
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383z"
        />
      </svg>
      <h2 data-animation="slideInUp" data-animation-delay="200ms">
        Sie entscheiden welche Bauweise
      </h2>
      <div class="bauweise-info-wrapper">
        <div class="holz-wrapper">
          <img
            data-animation="fadeIn"
            data-animation-delay="200ms"
            class="logo-holz"
            src="../../assets/img/bauen/logo-holz.png"
          />
          <h3 data-animation="slideInUp" data-animation-delay="200ms">
            Holzbauweise
          </h3>
          <p data-animation="slideInUp" data-animation-delay="200ms">
            Ihr Meisterhaus in Holzbauweise aus Zimmermanns Hand. Unsere Partner
            Zimmereien aus der Region, erstellen Ihren Rohbau auf traditionelle
            Zimmermannsweise mit modernsten Techniken wie z.B.: der Duo-Technik.
            Der Ausbau bis zum schlüsselfertigen Meisterhaus, erfolgt durch
            unseren langjährigen Handwerkspartner aus der Region.
          </p>
          <h4 data-animation="slideInUp" data-animation-delay="200ms">
            Vorteile:
          </h4>
          <div class="list-wrapper">
            <div>
              <div data-animation="slideInUp" data-animation-delay="200ms">
                <img src="../../../../assets/check.svg" />Hohe Energieeffizienz
              </div>
              <div data-animation="slideInUp" data-animation-delay="200ms">
                <img src="../../../../assets/check.svg" />Geringe Bauzeit
              </div>
              <div data-animation="slideInUp" data-animation-delay="200ms">
                <img src="../../../../assets/check.svg" />Qualitätssicherung
                durch "Das Meisterhaus"
              </div>
              <div data-animation="slideInUp" data-animation-delay="200ms">
                <img src="../../../../assets/check.svg" />Nachwachsender
                Rohstoff
              </div>
              <div data-animation="slideInUp" data-animation-delay="200ms">
                <img src="../../../../assets/check.svg" />Geringe Energiekosten
              </div>
            </div>
          </div>
        </div>
        <div class="massiv-wrapper">
          <img
            data-animation="fadeIn"
            data-animation-delay="200ms"
            class="logo-massiv"
            src="../../assets/img/bauen/logo-massiv.png"
          />
          <h3 data-animation="slideInUp" data-animation-delay="200ms">
            Massivbauweise
          </h3>
          <p data-animation="slideInUp" data-animation-delay="200ms">
            Ihr Meisterhaus in traditioneller Massivbauweise, Stein auf Stein
            erbaut. Unsere Maurerspartner aus der Region, erstellen Ihren Rohbau
            auf traditioneller Maurersweise mit modernsten Techniken wie z.B.:
            Klebeverbund. Der Ausbau bis zum schlüsselfertigen Meisterhaus,
            erfolgt durch unseren langjährigen Handwerkspartner aus der Region.
          </p>
          <h4 data-animation="slideInUp" data-animation-delay="200ms">
            Vorteile:
          </h4>
          <div class="list-wrapper">
            <div>
              <div data-animation="slideInUp" data-animation-delay="200ms">
                <img src="../../../../assets/check.svg" />Langlebig
              </div>
              <div data-animation="slideInUp" data-animation-delay="200ms">
                <img src="../../../../assets/check.svg" />Pragmatisch
              </div>
              <div data-animation="slideInUp" data-animation-delay="200ms">
                <img src="../../../../assets/check.svg" />Schallisolierend
              </div>
              <div data-animation="slideInUp" data-animation-delay="200ms">
                <img src="../../../../assets/check.svg" />Feuchteregulierend
              </div>
              <div data-animation="slideInUp" data-animation-delay="200ms">
                <img src="../../../../assets/check.svg" />Hoher
                Wiederverkaufswert
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="questions-cases-wrapper">
        <h4>Wichtig für dich? (Hilfe bei der Entscheidung?)</h4>
        <div>Geringe Bauzeit = Holzbauweise</div>
        <div>Hoch Energieeffizient = Holzbauweise</div>
        <div>Traditionell Hochqualitativ = Massivbauweise</div>
        <div>Langlebig = Massivbauweise</div>
        <div>Prakmatisch = Massivbauweise</div>
        <div>Schallisolierend = Massivbauweise</div>
        <div>Lüftungsanlage = Holzbauweise</div>
        <div>Nachwachsender Rohstoff = Holzbauweise</div>
        <div>Feuchteregulierende Konstruktion = Massivbauweise</div>
        <div>Schädlingsresistent = Massivbauweise</div>
        <div>Sichtbare Holzoptik = Holzbauweise</div>
        <div>Nachträgliche Umbaumöglichkeit = Massivbauweise</div>
        <div>Höherer Wiederverkaufswert = Massivbauweise</div>
        <div>Geringe Energiekosten = Holzbauweise</div>
      </div> -->
    </section>

    <div
      class="arrow-wrapper"
      data-animation="slideInDown"
      data-animation-delay="200ms"
    >
      <svg class="icon-arrow-down" viewBox="0 0 306 306">
        <polygon
          points="306 94.35 270.3 58.65 153 175.95 35.7 58.65 0 94.35 153 247.35 306 94.35"
        />
      </svg>
    </div>

    <section>
      <svg
        data-animation="zoomIn"
        data-animation-delay="200ms"
        class="number"
        viewBox="0 0 16 16"
      >
        <path
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306"
        />
      </svg>
      <h2 data-animation="slideInUp" data-animation-delay="200ms">
        Eigene Idee oder auf ein Konzept zugreifen
      </h2>

      <div class="individuell-konfig-info-wrapper">
        <div class="individuell-wrapper">
          <img
            data-animation="fadeIn"
            data-animation-delay="200ms"
            class="logo-individuell"
            src="../../assets/img/bauen/individuell-icon.png"
          />
          <h3 data-animation="slideInUp" data-animation-delay="200ms">
            Individuell bauen
          </h3>
          <p data-animation="slideInUp" data-animation-delay="200ms">
            Alle Architektenleistungen von Entwurf bis zur Eingabeplanung, sind
            bei uns dabei. Gestalten Sie also mit uns zusammen innerhalb weniger
            Termine Ihr Individuelles Meisterhaus. Aus über 300 gebauten
            Häusern, lassen wir unsere Erfahrung in Ihre Wunschvorstellungen mit
            einfließen und realisieren so Ihr Traumhaus von der ersten Idee bis
            zur schlüsselfertigen Übergabe.
          </p>
          <a
            data-animation="slideInUp"
            data-animation-delay="200ms"
            href="/individuell-bauen"
            class="btn btn-primary btn-lg"
            >Mehr Infos</a
          >
        </div>
        <div class="konfig-wrapper">
          <img
            data-animation="fadeIn"
            data-animation-delay="200ms"
            class="logo-konfig"
            src="../../assets/img/bauen/konfigurator-icon.png"
          />
          <h3 data-animation="slideInUp" data-animation-delay="200ms">
            Konfigurator
          </h3>
          <p data-animation="slideInUp" data-animation-delay="200ms">
            Gestalten Sie mit dem Konfigurator einfach und schnell Ihr
            Meisterhaus. Durch eine Auswahl von individuellen
            Gestaltungsmöglichkeiten und einer fertigen Planung, erhalten Sie
            einen vielfacherwiesenen Grundriss und den für Sie besten Preis.
            Durch die vorgeplanten Grundrisse sparen Sie nicht nur Zeit bei der
            Planung, sondern auch bis zur Fertigstellung.
          </p>
          <a
            data-animation="slideInUp"
            data-animation-delay="200ms"
            href="/starte-konfigurator"
            class="btn btn-primary btn-lg"
            >Jetzt konfigurieren</a
          >
        </div>
      </div>
    </section>
  </div>

  <div class="container content text-align-center">
    <div
      class="arrow-wrapper"
      data-animation="slideInDown"
      data-animation-delay="200ms"
    >
      <svg class="icon-arrow-down" viewBox="0 0 306 306">
        <polygon
          points="306 94.35 270.3 58.65 153 175.95 35.7 58.65 0 94.35 153 247.35 306 94.35"
        />
      </svg>
    </div>

    <section id="direktanfragen" style="margin-bottom: 5em">
      <svg
        data-animation="zoomIn"
        data-animation-delay="200ms"
        class="number"
        viewBox="0 0 16 16"
      >
        <path
          d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318"
        />
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8"
        />
      </svg>
      <h2 data-animation="slideInUp" data-animation-delay="200ms">
        Direkt anfragen & profitieren:
      </h2>
      <p data-animation="slideInUp" data-animation-delay="200ms">
        Mit über 20 Jahren Erfahrung und über 300 glücklichen Familien, die wir
        bereits in ihr Meisterhaus begleiten durften, setzen wir auf regionale
        Handwerker und höchste Qualität. Unsere individuelle, partnerschaftliche
        Kundenbetreuung sorgt dafür, dass Ihre Wünsche und Vorstellungen bei uns
        an erster Stelle stehen. Unsere Qualität und Arbeit spiegeln sich in den
        zahlreichen positiven Kundenbewertungen wider. Von der ersten Idee bis
        zur Schlüsselübergabe sind wir an Ihrer Seite – für ein Zuhause, das
        genau zu Ihnen passt. Vertrauen Sie auf unsere Erfahrung und lassen Sie
        uns gemeinsam Ihr Bauvorhaben verwirklichen!
      </p>
      <div class="list-wrapper">
        <div>
          <div data-animation="slideInUp" data-animation-delay="200ms">
            <img src="../../../../assets/check.svg" />Regionale Handwerker
          </div>
          <div data-animation="slideInUp" data-animation-delay="200ms">
            <img src="../../../../assets/check.svg" />Höchste
            Kundenzufriedenheit
          </div>
          <div data-animation="slideInUp" data-animation-delay="200ms">
            <img src="../../../../assets/check.svg" />Individuelle
            Partnerschaftliche Kundenbetreuung
          </div>
          <div data-animation="slideInUp" data-animation-delay="200ms">
            <img src="../../../../assets/check.svg" />Über 20 Jahre Erfahrung
          </div>
          <div data-animation="slideInUp" data-animation-delay="200ms">
            <img src="../../../../assets/check.svg" />Über 300 glückliche
            Familien
          </div>
        </div>
      </div>
      <a
        data-animation="slideInUp"
        data-animation-delay="200ms"
        href="/kontakt"
        class="btn btn-primary btn-lg"
        >Jetzt anfragen</a
      >
    </section>
  </div>

  <!-- SUB-NAVIGATION -->
  <app-sub-navigation
    [subNavItem1Headline]="subNavItem1Headline"
    [subNavItem1Subline]="subNavItem1Subline"
    [subNavItem1Url]="subNavItem1Url"
    [subNavItem1Size]="subNavItem1Size"
    [subNavItem1Id]="subNavItem1Id"
    [subNavItem2Headline]="subNavItem2Headline"
    [subNavItem2Subline]="subNavItem2Subline"
    [subNavItem2Url]="subNavItem2Url"
    [subNavItem2Size]="subNavItem2Size"
    [subNavItem2Id]="subNavItem2Id"
  ></app-sub-navigation>
</div>
<!-- FOOTER -->
<app-footer></app-footer>
