<!-- HEAD / NAVIGATION -->
<app-navigation></app-navigation>
<!-- SLIDER -->
<app-slider
  [slide1ImageSrc]="slide1ImageSrc"
  [slide1Headline]="slide1Headline"
  [slide1Subline]="slide1Subline"
  [slide1Url]="slide1Url"
></app-slider>
<!-- CONTENT -->
<div class="container content text-align-center">
  <h1>Bauen Sie Meisterhaft</h1>
  <p>
    Jedes Meisterhaus ist ein Unikat und entsteht als
    <strong>echte Handwerksleistung in Massiv-Bauweise</strong>. So können Sie
    Ihren Wünschen freien Lauf lassen und uns Ihr neues Traumhaus bauen lassen.
    Wenn Sie möchten von der Planung bis zum schlüsselfertigen Haus. Und
    natürlich mit <strong>Festpreisgarantie</strong>.
  </p>
  <br />
  <svg class="icon-arrow-down" viewBox="0 0 306 306">
    <polygon
      points="306 94.35 270.3 58.65 153 175.95 35.7 58.65 0 94.35 153 247.35 306 94.35"
    />
  </svg>
  <h2>Unsere Leistungen</h2>
</div>

<!-- SUB-NAVIGATION -->
<app-sub-navigation
  [subNavItem1Headline]="subNavItem1Headline"
  [subNavItem1Subline]="subNavItem1Subline"
  [subNavItem1Url]="subNavItem1Url"
  [subNavItem1Size]="subNavItem1Size"
  [subNavItem1Id]="subNavItem1Id"
  [subNavItem2Headline]="subNavItem2Headline"
  [subNavItem2Subline]="subNavItem2Subline"
  [subNavItem2Url]="subNavItem2Url"
  [subNavItem2Size]="subNavItem2Size"
  [subNavItem2Id]="subNavItem2Id"
></app-sub-navigation>

<!-- CTA-CONTACT-->
<app-cta-contact></app-cta-contact>
<!-- FOOTER -->
<app-footer></app-footer>
