.logo-bauen {
  width: 15em;
  margin-bottom: 1em;
}

.logo-holz {
  width: 10em;
  margin-bottom: 1em;
}

.logo-massiv {
  width: 10em;
  margin-bottom: 1em;
}

.number {
  width: 2.5em;
  height: 2.5em;
  margin-bottom: 0.5em;
  fill: #f38800;
}

.arrow-wrapper {
  margin: 2.5em 0 2em 0;
  svg {
    fill: #a2a2a2;
  }
}
.bauweise-info-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  .holz-wrapper,
  .massiv-wrapper {
    p {
      margin-bottom: 2em;
    }
    .list-wrapper {
      text-align: left;
      display: flex;
      justify-content: center;
      img {
        margin-right: 0.5em;
      }
    }

  }
  .holz-wrapper {
    max-width: 30em;
    margin-right: 1em;

  }
  .massiv-wrapper {
    max-width: 30em;
    margin-left: 1em;
  }
}
.individuell-konfig-info-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  .individuell-wrapper {
    max-width: 30em;
    margin-left: 1em;
  }
  .konfig-wrapper {
    max-width: 30em;
    margin-left: 1em;
  }
}
#direktanfragen {
  .list-wrapper {
    text-align: left;
    display: flex;
    justify-content: center;
    margin: 1em 0 2em 0;
    img {
      margin-right: 0.5em;
    }
  }
}

/*************************/
/* SMALL */
@media (max-width: 767px) {
  .logo-bauen {
    width: 13em;
    margin-bottom: 1em;
  }

  .logo-holz {
    width: 8em;
    margin-bottom: 1em;
  }

  .logo-massiv {
    width: 8em;
    margin-bottom: 1em;
  }
  .number {
    width: 2.25em;
    height: 2.25em;
  }
  section {
    padding: 0 1em;
  }
  .arrow-wrapper {
    margin: 1.5em 0 1em 0;
    svg {
      fill: #a2a2a2;
    }
  }
  .bauweise-info-wrapper {
    display: block;
    justify-content: center;
    margin-top: 2em;
    .holz-wrapper {
      max-width: 80%;
      margin: 0 auto 2em auto;
    }
    .massiv-wrapper {
      max-width: 80%;
      margin: 0 auto;
    }
  }

}




// Variables
// ---------
$animation-timing-function: cubic-bezier(.4,0,.2,1);
$animation-duration: 1s;

// Keyframes
// ---------
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes flipInY {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}


// Animations
// ----------
[data-animation] {
  opacity: 0;
  animation-timing-function: $animation-timing-function;
  animation-fill-mode: both;
  animation-duration: $animation-duration;
}

// Disable animation of the childs
// Disable animation in yourself
.animations-disabled {
  &, [data-animation] {
    animation: none !important;
    opacity: 1 !important;
  }
}


// Slide Animations
.slideInUp {
  animation-name: slideInUp;
}
.slideInDown {
  animation-name: slideInDown;
}
.slideInLeft {
  animation-name: slideInleft;
}
.slideInRight {
  animation-name: slideInRight;
}


// Fade Animations
.fadeIn {
  animation-name: fadeIn;
}
.fadeOut {
  animation-name: fadeIn;
  animation-direction: reverse;
}


// Zoom Animations
.zoomIn {
  animation-name: zoomIn;
}
.zoomOut {
  animation-name: zoomIn;
  animation-direction: reverse;
}
.zoomReverseIn {
  animation-name: zoomReverseIn;
}
.zoomReverseOut {
  animation-name: zoomReverseIn;
  animation-direction: reverse;
}


// Flip Animations
.flipInY {
  animation-name: flipInY;
}
.flipOutY {
  animation-name: flipInY;
  animation-direction: reverse;
}
