<div class="option-wrapper" [formGroup]="konfiguratorService.formular">
  <!-- AKTIONSHAUS 112 -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="aktionshaus"
      name="aktionshaus"
      id="aktionshaus_112"
      type="radio"
      [value]="aktionshaus.aktionshaus112"
    />
    <label for="aktionshaus_112">
      <img
        src="../../../../../assets/konfigurator/{{
          konfiguratorService.stepUrl(2, aktionshaus.aktionshaus112)
        }}.jpg"
      />
      <span
        >Aktionshaus 112 <br />
        + 0 €</span
      >
    </label>
  </div>

  <!-- AKTIONSHAUS 113 -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="aktionshaus"
      name="aktionshaus"
      id="aktionshaus_113"
      type="radio"
      [value]="aktionshaus.aktionshaus113"
    />
    <label for="aktionshaus_113">
      <img
        src="../../../../../assets/konfigurator/{{
          konfiguratorService.stepUrl(2, aktionshaus.aktionshaus113)
        }}.jpg"
      />
      <span
        >Aktionshaus 113 <br />
        + 0 €</span
      >
    </label>
  </div>

  <!-- AKTIONSHAUS 114 -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="aktionshaus"
      name="aktionshaus"
      id="aktionshaus_114"
      type="radio"
      [value]="aktionshaus.aktionshaus114"
    />
    <label for="aktionshaus_114">
      <img
        src="../../../../../assets/konfigurator/{{
          konfiguratorService.stepUrl(2, aktionshaus.aktionshaus114)
        }}.jpg"
      />
      <span
        >Aktionshaus 114 <br />
        + 0 €</span
      >
    </label>
  </div>
</div>
