<div class="option-wrapper">
  <!-- AKTIONSHAUS 112 -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      name="konfigurator_aktionshaus"
      id="aktionshaus_112_1"
      type="radio"
      value="aktionshaus_112_1"
    />
    <label for="aktionshaus_112_1">
      <img src="../../../../../assets/konfigurator/img.1.jpg" />
      <span>Aktionshaus 112</span>
    </label>
  </div>

  <!-- AKTIONSHAUS 113 -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      name="konfigurator_aktionshaus"
      id="aktionshaus_113_2"
      type="radio"
      value="aktionshaus_113_2"
    />
    <label for="aktionshaus_113_2">
      <img src="../../../../../assets/konfigurator/img.2.jpg" />
      <span>Aktionshaus 113</span>
    </label>
  </div>

  <!-- AKTIONSHAUS 114 -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      name="konfigurator_aktionshaus"
      id="aktionshaus_114_3"
      type="radio"
      value="aktionshaus_114_3"
    />
    <label for="aktionshaus_114_3">
      <img src="../../../../../assets/konfigurator/img.3.jpg" />
      <span>Aktionshaus 114</span>
    </label>
  </div>
</div>
