<div class="option-wrapper" [formGroup]="konfiguratorService.formular">
  <!-- AKTIONSHAUS 112 -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="aktionshaus"
      id="aktionshaus_112"
      type="radio"
      [value]="aktionshaus.aktionshaus112"
    />
    <label for="aktionshaus_112">
      <img src="../../../../../assets/konfigurator/img.1.jpg" />
      <span>Aktionshaus 112</span>
    </label>
  </div>

  <!-- AKTIONSHAUS 113 -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="aktionshaus"
      id="aktionshaus_113"
      type="radio"
      [value]="aktionshaus.aktionshaus113"
    />
    <label for="aktionshaus_113">
      <img src="../../../../../assets/konfigurator/img.2.jpg" />
      <span>Aktionshaus 113</span>
    </label>
  </div>

  <!-- AKTIONSHAUS 114 -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="aktionshaus"
      id="aktionshaus_114"
      type="radio"
      [value]="aktionshaus.aktionshaus114"
    />
    <label for="aktionshaus_114">
      <img src="../../../../../assets/konfigurator/img.3.jpg" />
      <span>Aktionshaus 114</span>
    </label>
  </div>
</div>
