<!-- HEAD / NAVIGATION -->
<app-navigation></app-navigation>

<div class="konfigurator-container content text-align-center">
  <app-head></app-head>

  <div class="konfigurator-step-wrapper">
    <div class="step-headline">
      <!-- <h1>Konfigurator</h1> -->
    </div>
  </div>

  <div class="konfigurator-wrapper">
    <div class="layout-border">
      <div class="layout-border-top-left"></div>
      <div class="layout-border-top-right"></div>
    </div>
    <div class="start-screen">
      <a routerLink="schritt-1" class="btn btn-primary">Jetzt konfigurieren</a>
    </div>
    <div class="layout-border">
      <div class="layout-border-bottom-left"></div>
      <div class="layout-border-bottom-right"></div>
    </div>
  </div>
</div>
<!-- FOOTER -->
<app-footer></app-footer>
