<!-- HEAD / NAVIGATION -->
<app-navigation></app-navigation>

<div class="konfigurator-container content text-align-center">
  <app-konfigurator-head></app-konfigurator-head>

  <div class="konfigurator-step-wrapper">
    <div class="step-headline">
      <h1 class="animate__animated animate__fadeIn">
        {{ konfiguratorService.stepName }}
      </h1>
    </div>
  </div>

  <div class="konfigurator-wrapper">
    <div class="konfigurator">
      <!-- SHOWCASE -->
      <div class="showcase">
        <img
          class="animate__animated animate__fadeIn"
          src="../../../../../assets/konfigurator/{{
            konfiguratorService.urlZumBild
          }}"
        />
      </div>

      <!-- STEPS -->
      <div class="control-panel" [ngSwitch]="konfiguratorService.aktuellerStep">
        <!-- SCHRITT 1 -->
        <step-bauweise *ngSwitchCase="1"></step-bauweise>
        <!-- SCHRITT 2 -->
        <step-dachform *ngSwitchCase="2"></step-dachform>
        <!-- SCHRITT 3 -->
        <step-aktionshaus *ngSwitchCase="3"></step-aktionshaus>
        <!-- SCHRITT 4 -->
        <step-dachfarbe *ngSwitchCase="4"></step-dachfarbe>
        <!-- SCHRITT 5 -->
        <step-fensterfarbe *ngSwitchCase="5"></step-fensterfarbe>
        <!-- SCHRITT 6 -->
        <step-schornstein *ngSwitchCase="6"></step-schornstein>
        <!-- SCHRITT 7 -->
        <step-ausstattung *ngSwitchCase="7"></step-ausstattung>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER -->
<app-footer></app-footer>
