<!-- HEAD / NAVIGATION -->
<app-navigation></app-navigation>

<div class="konfigurator-container content text-align-center">
  <app-konfigurator-head></app-konfigurator-head>

  <div class="konfigurator-step-wrapper">
    <div class="step-headline">
      <h1>Schritt X: XXX</h1>
    </div>
  </div>

  <div class="konfigurator-wrapper">
    <div class="konfigurator">
      <!-- SHOWCASE -->
      <div class="showcase">
        <img
          class="animate__animated animate__fadeIn"
          src="../../../../../assets/konfigurator/img.1.jpg"
        />
      </div>

      <!-- STEPS -->
      <div class="control-panel">
        <!-- SCHRITT 1 -->
        <step-bauweise></step-bauweise>
        <!-- SCHRITT 2 -->
        <!-- <step-aktionshaus></step-aktionshaus> -->
        <!-- SCHRITT 3 -->
        <!-- <step-dachform></step-dachform> -->
        <!-- SCHRITT 4 -->
        <!-- <step-dachfarbe></step-dachfarbe> -->
        <!-- SCHRITT 5 -->
        <!-- <step-fensterfarbe></step-fensterfarbe> -->
        <!-- SCHRITT 6 -->
        <!-- <step-schornstein></step-schornstein> -->
        <!-- SCHRITT 7 -->
        <!-- <step-ausstattung></step-ausstattung> -->
      </div>
    </div>
  </div>
</div>
<!-- FOOTER -->
<app-footer></app-footer>
