<div class="option-wrapper">
  <!-- BAUWEISE: HOLZ -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      name="konfigurator_bauweise"
      id="bauweiseHolz"
      type="radio"
      value="bauweiseHolz"
    />
    <label for="bauweiseHolz">
      <img src="../../../../../assets/konfigurator/step-bauweise/img.1.jpg" />
      <span>Holz</span>
    </label>
  </div>
  <!-- BAUWEISE: MASSIV -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      name="konfigurator_bauweise"
      id="bauweiseMassiv"
      type="radio"
      value="bauweiseMassiv"
    />
    <label for="bauweiseMassiv">
      <img src="../../../../../assets/konfigurator/step-bauweise/img.1.jpg" />
      <span>Massiv</span>
    </label>
  </div>
</div>
