<div class="option-wrapper" [formGroup]="konfiguratorService.formular">
  <!-- BAUWEISE: HOLZ -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="bauweise"
      id="holz"
      type="radio"
      [value]="bauweise.holz"
    />
    <label for="holz">
      <img
        src="../../../../../assets/konfigurator/{{
          konfiguratorService.stepUrl(1, null)
        }}.jpg"
      />
      <span
        >Holz<br />
        343.900 €
      </span>
    </label>
  </div>
  <!-- BAUWEISE: MASSIV -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="bauweise"
      id="massiv"
      type="radio"
      [value]="bauweise.massiv"
    />
    <label for="massiv">
      <img
        src="../../../../../assets/konfigurator/{{
          konfiguratorService.stepUrl(1, null)
        }}.jpg"
      />
      <span
        >Massiv<br />
        319.900 €
      </span>
    </label>
  </div>
</div>
