<!-- HEAD / NAVIGATION -->
<app-navigation></app-navigation>
<div style="height: 3em"></div>
<!-- UPDATE 10-2021 -->
<div class="container">
  <iframe
    class="baufi-tool"
    src="https://baufimanufaktur.finlink.de/daniel-pfister/start-widget?partner=b65fc3b7-d2b2-4195-a103-f3082667b205&partnerCompany=ASTORI%20Das%20Meisterhaus&primaryColor=000000"
    frameborder="0"
    allowfullscreen
    sandbox="allow-scripts allow-popups allow-top-navigation allow-same-origin"
  >
  </iframe>
</div>
<!-- FOOTER -->
<app-footer></app-footer>
