/********************/
/* IMPRESSUM */
/********************/
.datenschutz-section {
  margin-top: 6.2em;
  margin-bottom: 4em;
  h3 {
    margin-top: 1em;
  }
  .subline {
    margin-top: 0.75em;
    font-size: 1.25em;
  }
}
.imprint-headline {
  margin-top: 3em;
}
/*************************/
/*************************/
/*************************/
/* MEDIUM */
@media (max-width: 992px) {
  .datenschutz-section {
    margin-top: 6.2em;
  }
}
/*************************/
/* SMALL */
@media (max-width: 767px) {
  .datenschutz-section {
    h3 {
      font-size: 1.2em;
    }
    .subline {
      margin-top: 0.75em;
      font-size: 1em;
    }
  }
}
