/*************************/
/* CONTACT */
/*************************/
.contact-section {
  margin-top: 9em;
}
.contact-form-wrapper {
  margin: 2em 0 6em 0;
  display: flex;
  justify-content: center;
}
/**************************/
/* FROG */
.contact-frog {
  width: 20em;
  position: absolute;
  right: 0;
  img {
    width: 100%;
  }
}
/* KONFIGURATOR - SUMMARY */
.konfigurator-summary-wrapper {
  width: 50em;
  margin: 0 auto;
  background-color: #f8f8f8;
  border: 1px solid #ced4da;
  border-radius: 0.5em;
  padding: 2em ;
  margin-top: 2em;
  h1 {
    font-size: 1.6em;
    color: #f38800;
    margin-bottom: 0.75em;
  }
  .konfigurator-reset-option {
    margin-top: 2em;
    text-align: right;
    h3 {
      font-weight: 600;
      text-transform: none;
      font-size: 1.3em;
      color: #6c757d;
    }
    a {
      font-size: 1.2em;
    }
  }

  }
  .konfigurator-summary {
    display: flex;
    justify-content: space-between;
    .konfigurator-summary-details {
      width: 49%;
      order: 1;
    }
    .konfigurator-summary-image {
      width: 49%;
      order: 2;
      img {
        width: 100%;
      }
      a {
        width: 100%;
        font-size: 1.2em;
      }
    }
  }
  .input-wrapper {
    display: flex;
    margin-bottom: 0.5em;
    &:last-child {
      margin-bottom: 0;
    }
    .summary-label {
      width: 8em;
      font-weight: bold;
    }
    .summary-value-ausstattung {
      &.block {
        display: block;
      }
    }
  }


/*************************/
/* CONTACT-FORM */
#contact-form {
  width: 50em;
  .input-wrapper {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    label {
      margin-bottom: 0;
      font-family: open-sans-condensed, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      // font-size: 0.9em;
    }
    .form-control {
      padding: 0.375rem 0.3rem;
    }
    textarea {
      min-height: 8em;
    }
  }
  p {
    margin: 2em 0;
  }
  button[type='submit'] {
    width: 100%;
  }
}
.baudetails-1 {
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  padding-top: 1em;
  margin-bottom: 1em;
}
.baudetails-2 {
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  padding-top: 1em;
  margin-bottom: 1em;
}
a.headline {
  font-size: 1.3em;
  color: #f38800;
  font-family: open-sans-condensed, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 0.7em;
}
.repeat {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
/*************************/
/* GOOGLE-MAPS (iFrame) */
.google-maps {
  margin: 2em 0 6em 0;
  border: 1px solid #ced4da;
}
/*************************/
/* TOAST */
.toast-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 123124;
  background-color: #fff;
  opacity: 0.95;
  text-align: center;
  height: 100vh;
}
.toast {
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  height:100vh;
  font-size: 1em;
  position: absolute;
}
.toast-color {
  color: #f38800 !important;
}
#success-toast {
  padding-top: 5em;
}

@media (max-width: 1420px){
  .contact-frog {
    display: none;
  }
}

/*************************/
/*************************/
/*************************/
/* MEDIUM */
@media (max-width: 992px) {
  .contact-section {
    margin-top: 6.2em;
  }
  .contact-frog {
    width: 15em;
  }
}

/*************************/
/*************************/
/*************************/
/* MEDIUM */
@media (max-width: 860px) {
  .konfigurator-summary-wrapper {
    width: 100%;
  }
}
/*************************/
/* SMALL */
@media (max-width: 767px) {
  .contact-section {
    margin-top: 6.2em;
  }
  .contact-form-wrapper {
    margin: 2em 0 3em 0;
    .baudetails-1,
    .baudetails-2 {
      padding-bottom: 1em;
    }
  }
  #contact-form {
    width: 50em;
    .input-wrapper {
      margin-bottom: 1em;
      display: block;
      label {
        margin-bottom: 0.3em;
        // font-size: 0.9em;
        padding: 0;
      }
      label.mobile-label {
        margin-top: 1em;
      }
      .col-1 {
        margin-top: 1em;
      }
      .col-3,
      .col-6,
      .col-5,
      .col-9 {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    .input-wrapper.no-margin {
      margin-bottom: 0;
    }
  }
  a.headline {
    padding-left: 0;
  }
  .contact-frog {
    display: none;
  }
  .konfigurator-summary-wrapper {
    width: 100%;
    padding: 1.5em 1em;
    h1 {
      font-size: 1.4em;
    }
    .konfigurator-summary {
      display: flex;
      flex-wrap: wrap;
      .konfigurator-summary-image {
        order: 1 !important;
        width: 100%;
      }
      .konfigurator-summary-details {
        order: 2;
        width: 100%;
        margin-top: 1em;
        .summary-value {
          &.ausstattung {
            display: flex;
            .summary-value {
              margin-right: 0.5em;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

      }
    }
  }
  /*************************/
  /* GOOGLE-MAPS (iFrame) */
  .google-maps {
    margin: 1em 0 3em 0;
  }
}

@media (max-width: 812px) {
  .konfigurator-summary-wrapper {

    .konfigurator-reset-option {
      margin-top: 2em;
      text-align: center;

      h3 {
        font-weight: 600;
        text-transform: none;
        font-size: 1.1em;
        color: #6c757d;
      }
      a {
        font-size: 1.1em;
        width: 100%;
      }
    }
    .konfigurator-summary {
      .konfigurator-summary-details {
        .summary-value {
          &.ausstattung {
            display: block;
            .summary-value {
              margin-right: 0;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

      }
    }
  }
}
