<!-- HEAD / NAVIGATION -->
<app-navigation></app-navigation>

<div class="konfigurator-container start content text-align-center">
  <div class="konfigurator-wrapper">
    <div class="layout-border">
      <div class="layout-border-top-left"></div>
      <div class="layout-border-top-right"></div>
    </div>
    <div class="start-screen">
      <div>
        <h1 class="animate__animated animate__fadeIn">
          Konfigurieren Sie Ihr persönliches Meisterhaus
        </h1>
        <h2 class="animate__animated animate__fadeIn">
          Schritt für Schritt vom Sofa aus – schnell, einfach und intuitiv.
        </h2>
        <a
          routerLink="/konfigurator"
          class="btn btn-primary animate__animated animate__fadeInUp"
          >Jetzt konfigurieren</a
        >
      </div>
    </div>
    <div class="layout-border">
      <div class="layout-border-bottom-left"></div>
      <div class="layout-border-bottom-right"></div>
    </div>
  </div>
</div>
<!-- FOOTER -->
<app-footer></app-footer>
