<!-- HEAD / NAVIGATION -->
<app-navigation></app-navigation>

<div class="konfigurator-container start content text-align-center">
  <div class="konfigurator-step-wrapper">
    <div class="step-headline">
      <!-- <h1>Konfigurator</h1> -->
    </div>
  </div>

  <div class="konfigurator-wrapper">
    <div class="layout-border">
      <div class="layout-border-top-left"></div>
      <div class="layout-border-top-right"></div>
    </div>
    <div class="start-screen">
      <div>
        <h1 class="animate__animated animate__fadeIn">
          Konfigurieren Sie Ihr Meisterhaus
        </h1>
        <h2 class="animate__animated animate__fadeIn">
          Schritt für Schritt vom Sofa aus – schnell, einfach und intuitiv.
        </h2>
        <a
          routerLink="/konfigurator"
          class="btn btn-primary animate__animated animate__fadeInUp"
          >Jetzt konfigurieren</a
        >
        <div class="additional-info-wrapper animate__animated animate__pulse">
          <h3>Bereits enthalten:</h3>
          <div class="additional-info-list">
            <div class="additional-info-list-item">
              <img src="../../../../assets/check.svg" />Eingabeplanung
            </div>
            <div class="additional-info-list-item">
              <img src="../../../../assets/check.svg" />Baugrunduntersuchung
            </div>
            <div class="additional-info-list-item">
              <img src="../../../../assets/check.svg" />Energieberechnung
            </div>
            <div class="additional-info-list-item">
              <img src="../../../../assets/check.svg" />Statische Berechnung
            </div>
            <div class="additional-info-list-item">
              <img src="../../../../assets/check.svg" />3-fach verglaste Fenster
            </div>
            <div class="additional-info-list-item">
              <img src="../../../../assets/check.svg" />Bäder fertig gefliest
            </div>
            <div class="additional-info-list-item">
              <img src="../../../../assets/check.svg" />Großzügige
              Ausstellungsräume
            </div>
            <div class="additional-info-list-item">
              <img src="../../../../assets/check.svg" />Regionale
              Handwerksbetriebe
            </div>
            <div class="additional-info-list-item">
              <img src="../../../../assets/check.svg" />Luft-Wasser-Wärmepumpe
            </div>

            <div class="additional-info-list-item">
              <img src="../../../../assets/check.svg" />
              Über 300 zufriedene Bauherren in 20 Jahren
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="layout-border">
      <div class="layout-border-bottom-left"></div>
      <div class="layout-border-bottom-right"></div>
    </div>
  </div>
</div>
<!-- FOOTER -->
<app-footer></app-footer>
