<!-- HEAD / NAVIGATION -->
<app-navigation></app-navigation>
<div class="page-wrapper">
  <!-- SLIDER -->
  <app-slider
    [slide1ImageSrc]="slide1ImageSrc"
    [slide1Headline]="slide1Headline"
    [slide1Subline]="slide1Subline"
    [slide1Url]="slide1Url"
  ></app-slider>
  <!-- CONTENT -->
  <div class="container content text-align-center">
    <h1>Wir sind das Meisterhaus</h1>
    <p>
      Fairness und Zuverlässigkeit sind unsere Eckpfeiler im täglichen
      Baugeschäft. In den mittlerweile zwanzig Jahren, die es Das Meisterhaus
      gibt, haben wir für über 300 Familien den Traum von den eigenen vier
      Wänden verwirklicht.
    </p>
    <p>
      Unsere erfahrenen Mitarbeiter kennen das Baugeschäft von der Pike auf. So
      können Sie sich sicher sein, dass alle Schritte im Bauprozess nach
      Zeitplan und optimal aufeinander abgestimmt über die Bühne gehen. Denn ein
      Haus bauen Sie nur einmal im Leben – und dann muss alles passen.
    </p>
    <br />
    <!-- <div class="youtube-video-wrapper">
    <iframe
      id="youtube-video"
      src="https://www.youtube.com/embed/tbL0ruOQnWw"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div> -->
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/tbL0ruOQnWw"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <svg class="icon-arrow-down" viewBox="0 0 306 306">
      <polygon
        points="306 94.35 270.3 58.65 153 175.95 35.7 58.65 0 94.35 153 247.35 306 94.35"
      />
    </svg>
    <h2>Ihre Ansprechpartner:</h2>
    <!-- TEAM -->
    <div class="team animated fadeIn">
      <!-- MITARBEITER -->
      <div class="mitarbeiter">
        <img src="../../assets/img/unternehmen/uwe.jpg" />
        <h2>Uwe Hassler</h2>
        <p><strong>Geschäftsführer</strong></p>
        <p>
          Leitet die Geschicke des Unternehmens und steht Ihnen als bestens
          informierter Ansprechpartner mit über 24 Jahren Erfahrung für alle
          Fragen zur Verfügung.
        </p>
      </div>
      <!-- MITARBEITER -->
      <div class="mitarbeiter">
        <img src="../../assets/img/unternehmen/natalie.jpg" />
        <h2>Natalie Hassler</h2>
        <p><strong>Büromanagement</strong></p>
        <p>
          Sie ist die kompetente erste Ansprechpartnerin für unsere Kunden und
          Partner, das organisatorische und verwaltende Herz des Unternehmens.
        </p>
      </div>
      <!-- MITARBEITER -->
      <div class="mitarbeiter">
        <img src="../../assets/img/unternehmen/thomas.jpg" />
        <h2>Thomas Kitzmann</h2>
        <p><strong>Bauleiter</strong></p>
        <p>
          Als gelernter Maurer und Betonbauer - Meister kennt und versteht er
          die Wünsche der Bauherren und kümmert sich um den reibungslosen Ablauf
          und die Koordination aller beteiligten Handwerker.
        </p>
      </div>
      <!-- MITARBEITER -->
      <div class="mitarbeiter">
        <img src="../../assets/img/unternehmen/julian.jpg" />
        <h2>Julian Willner</h2>
        <p><strong>Verkaufsleiter</strong></p>
        <p>
          Die Punktlandung ist sein Ziel. Vom ersten Gespräch bis zur fertigen
          Plan-Visualisierung wächst Ihr Haus nach Ihren Wünschen und seiner
          Erfahrung. Budgetgerecht, über den Tellerrand blickend und ohne
          Umschweife zu einem eindeutig definierten, realistischen Angebot.
        </p>
      </div>
      <!-- MITARBEITER -->
      <div class="mitarbeiter">
        <img src="../../assets/img/unternehmen/erik.jpg" />
        <h2>Erik Hassler</h2>
        <p><strong>Verkaufsberater</strong></p>
        <p>
          Weist mit viel Fachkenntnis und einer transparenten Beratung den
          Kunden den Weg zum eigenen Haus. Dabei behält er die Kosten immer im
          Blick und findet für alle Wünsche den passenden Rahmen.
        </p>
      </div>
    </div>
  </div>
  <!-- SUB-NAVIGATION -->
  <app-sub-navigation
    [subNavItem1Headline]="subNavItem1Headline"
    [subNavItem1Subline]="subNavItem1Subline"
    [subNavItem1Url]="subNavItem1Url"
    [subNavItem1Size]="subNavItem1Size"
    [subNavItem1Id]="subNavItem1Id"
    [subNavItem2Headline]="subNavItem2Headline"
    [subNavItem2Subline]="subNavItem2Subline"
    [subNavItem2Url]="subNavItem2Url"
    [subNavItem2Size]="subNavItem2Size"
    [subNavItem2Id]="subNavItem2Id"
  ></app-sub-navigation>
  <!-- CTA-CONTACT-->
  <app-cta-contact></app-cta-contact>
</div>

<!-- FOOTER -->
<app-footer></app-footer>
