<div class="option-wrapper" [formGroup]="konfiguratorService.formular">
  <!-- SATTELDACH -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="dachform"
      id="satteldach"
      type="radio"
      [value]="dachform.satteldach"
    />
    <label for="satteldach">
      <img src="" />
      <span>Satteldach</span>
    </label>
  </div>

  <!-- SATTELDACH -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="dachform"
      id="erker"
      type="radio"
      [value]="dachform.erker"
    />
    <label for="erker">
      <img src="" />
      <span>Erker</span>
    </label>
  </div>

  <!-- VOLLGESCHOSS -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="dachform"
      id="vollgeschoss"
      type="radio"
      [value]="dachform.vollgeschoss"
    />
    <label for="vollgeschoss">
      <img src="" />
      <span>Vollgeschoss</span>
    </label>
  </div>
</div>
