<div class="option-wrapper" [formGroup]="konfiguratorService.formular">
  <!-- SATTELDACH -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="dachform"
      id="satteldach"
      type="radio"
      [value]="dachform.satteldach"
    />
    <label for="satteldach">
      <img
        src="../../../../../assets/konfigurator/{{
          konfiguratorService.stepUrl(3, dachform.satteldach)
        }}.jpg"
      />
      <span
        >Satteldach <br />
        <ng-container>+ 0 €</ng-container>
      </span>
    </label>
  </div>

  <!-- SATTELDACH -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="dachform"
      id="erker"
      type="radio"
      [value]="dachform.erker"
    />
    <label for="erker">
      <img
        src="../../../../../assets/konfigurator/{{
          konfiguratorService.stepUrl(3, dachform.erker)
        }}.jpg"
      />
      <span
        >Erker <br />
        <ng-container *ngIf="konfiguratorService.bauweise === bauweise.holz">
          + 11.790 €
        </ng-container>
        <ng-container *ngIf="konfiguratorService.bauweise === bauweise.massiv">
          + 8.790 €
        </ng-container>
      </span>
    </label>
  </div>

  <!-- VOLLGESCHOSS -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="dachform"
      id="vollgeschoss"
      type="radio"
      [value]="dachform.vollgeschoss"
    />
    <label for="vollgeschoss">
      <img
        src="../../../../../assets/konfigurator/{{
          konfiguratorService.stepUrl(3, dachform.vollgeschoss)
        }}.jpg"
      />
      <span
        >Vollgeschoss <br />
        <ng-container *ngIf="konfiguratorService.bauweise === bauweise.holz"
          >+ 15.840 €</ng-container
        >
        <ng-container *ngIf="konfiguratorService.bauweise === bauweise.massiv"
          >+ 10.990 € ></ng-container
        >
      </span>
    </label>
  </div>
</div>
