<!-- SATTELDACH -->
<div class="option animate__animated animate__fadeIn">
  <input
    class="konfigurator-option"
    name="konfigurator_dachform"
    id="satteldach"
    type="radio"
    value="satteldach"
  />
  <label for="satteldach">
    <img src="../../../../../assets/konfigurator/step-a/img.1.jpg" />
    <span>Satteldach</span>
  </label>
</div>

<!-- SATTELDACH -->
<div class="option animate__animated animate__fadeIn">
  <input
    class="konfigurator-option"
    name="konfigurator_dachform"
    id="erker"
    type="radio"
    value="erker"
  />
  <label for="erker">
    <img src="../../../../../assets/konfigurator/step-a/img.1.jpg" />
    <span>Erker</span>
  </label>
</div>

<!-- VOLLGESCHOSS -->
<div class="option animate__animated animate__fadeIn">
  <input
    class="konfigurator-option"
    name="konfigurator_dachform"
    id="vollgeschoss"
    type="radio"
    value="vollgeschoss"
  />
  <label for="vollgeschoss">
    <img src="../../../../../assets/konfigurator/step-a/img.1.jpg" />
    <span>Vollgeschoss</span>
  </label>
</div>
