<div class="option-wrapper" [formGroup]="konfiguratorService.formular">
  <!-- SATTELDACH -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="fensterfarbe"
      id="weiss"
      type="radio"
      [value]="fensterfarbe.weiss"
    />
    <label for="weiss">
      <img
        src="../../../../../assets/konfigurator/{{
          konfiguratorService.stepUrl(5, fensterfarbe.weiss)
        }}.jpg"
      />
      <span
        >Weiß <br />
        + 0 €
      </span>
    </label>
  </div>
  <!-- SATTELDACH -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="fensterfarbe"
      id="schwarz"
      type="radio"
      [value]="fensterfarbe.schwarz"
    />
    <label for="schwarz">
      <img
        src="../../../../../assets/konfigurator/{{
          konfiguratorService.stepUrl(5, fensterfarbe.schwarz)
        }}.jpg"
      />
      <span
        >Anthrazit <br />
        + 1.390 €</span
      >
    </label>
  </div>
</div>
