<div class="option-wrapper" [formGroup]="konfiguratorService.formular">
  <!-- SATTELDACH -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="dachfarbe"
      id="schwarz"
      type="radio"
      [value]="dachfarbe.schwarz"
    />
    <label for="schwarz">
      <img
        src="../../../../../assets/konfigurator/{{
          konfiguratorService.stepUrl(4, dachfarbe.schwarz)
        }}.jpg"
      />
      <span>Schwarz</span>
    </label>
  </div>
  <!-- SATTELDACH -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="dachfarbe"
      id="rot"
      type="radio"
      [value]="dachfarbe.rot"
    />
    <label for="rot">
      <img
        src="../../../../../assets/konfigurator/{{
          konfiguratorService.stepUrl(4, dachfarbe.rot)
        }}.jpg"
      />
      <span>Rot</span>
    </label>
  </div>
</div>
