// ACCESSIBILITY

#accessibility {
  .accessibility-button-wrapper {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    z-index: 100000000000;
    button {
      width: 5em;
      height: 5em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000;
      border: 1px solid #fff;
      svg {
        width: 3em;
        height: 3em;
      }
    }
  }
  #accessibilitySettings:popover-open {
    width: 20em;
    height: auto;
    position: fixed;
    inset: unset;
    bottom: 7em;
    right: 0.5em;
    margin: 0;
    border: 1px solid #fff;
    animation: slidein 0.75s ease 0s 1 normal forwards;
    background-color: rgba(0, 0, 0, 0.9);

    @keyframes slidein {
      0% {
        transform: translateX(20.5em);
      }

      100% {
        transform: translateX(0);
      }
    }
    .accessibility-settings-modal {
      padding: 1em !important;
      color: #fff;
      .accessibility-settings-modal-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #fff;
        padding-bottom: 1em;
        h1 {
          font-size: 1.3em;
          margin-bottom: 0;
        }
        svg {
          width: 2.25em;
          height: 2.25em;
          margin-right: 0.75em;
        }
      }
      .accessibility-settings-modal-body {
        padding-top: 1em;
        button {
          background-color: #e7150a;
          color: #fff;
          display: flex;
          align-items: center;
          margin-bottom: 0.5em;
          // &:last-child {
          //   margin-bottom: 0;
          // }
          svg {
            width: 1.5em;
            height: 1.5em;
            margin-right: 0.5em;
            fill: #fff;
          }
        }
        a {
          color: #fff;
          text-decoration: none;
          display: block;
          margin-top: 1em;
          svg {
            fill: #fff;
            margin-right: 0.5em;
          }
        }
      }
    }
  }
}

