<div class="konfigurator-summary-bar">
  <div class="konfigurator-summary">
    <div class="summary-headline">
      <h1>Konfigurator</h1>
    </div>

    <div class="summary-section animate__animated animate__fadeIn">
      <label *ngIf="konfiguratorService.aktuellerPreis !== null">Preis: </label>
      <span *ngIf="konfiguratorService.aktuellerPreis !== null">
        {{ konfiguratorService.aktuellerPreis }} €</span
      >
    </div>

    <div class="summary-nav">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a
              class="page-link btn btn-back"
              [ngClass]="{
                backDisabled: !konfiguratorService.stepRueckwaertsMoeglich
              }"
              (click)="konfiguratorService.geheZumVorherigenSchritt()"
              >zurück</a
            >
          </li>
          <li class="page-item">
            <a
              [ngClass]="{
                disabled: !konfiguratorService.stepVorwaertsMoeglich
              }"
              class="page-link btn btn-primary"
              (click)="konfiguratorService.geheZumNaechstenSchritt()"
              >{{ konfiguratorService.naechsterStepName }}</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
