<div class="konfigurator-summary-bar">
  <div class="konfigurator-summary">
    <div>
      <h1>Konfigurator</h1>
    </div>
    <!-- TODO: After select Option 1 -->
    <!-- <div class="summary-section">
      <label>Preis: </label>
      <span>328.310,00€</span>
    </div> -->

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link btn btn-back" routerLink="/starte-konfigurator"
            >zurück</a
          >
        </li>
        <li class="page-item">
          <a class="page-link btn btn-primary" routerLink="/konfigurator"
            >Schritt 2</a
          >
          <!-- <a
            class="page-link btn btn-primary disabled"
            routerLink="/konfigurator/schritt-2"
            >Schritt 2</a
          > -->
        </li>
      </ul>
    </nav>

    <!-- <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a
            class="page-link btn btn-primary"
            routerLink="/konfigurator/schritt-1"
            >Starten</a
          >
        </li>
      </ul>
    </nav> -->
  </div>
</div>
