.konfigurator-summary-bar {

  margin-bottom: 2em;
  padding: 2em 2em;
  background-color: #f6f6f6;
  .konfigurator-summary {
    max-width: 1645px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    h1 {
      margin-bottom: 0;
      font-size: 2em;
    }
    .summary-section {
      // margin: 0 1.5em;
      label {
        // font-weight: bold;
        margin-right: 0.75em;
        margin-bottom: 0;
        // font-size: 2em;
      }
      span {
        font-size: 2em;
        font-weight: bold;
      }
    }
    .pagination {
      margin-bottom: 0;

      .page-item {
        font-size: 1.15em;
        margin-right: 0.5em;
        &:last-child {
          margin-right: 0;
        }
        &:active,
        &:focus {
          background-color: #ea6e09 !important;
        }
      }
      .page-link {
        border-radius: 0;
        color: #fff;
        font-size: 1.15em;
        &:hover {
          color: #fff;
        }
        &.disabled {
          background-color: #ea6e09;
          opacity: 50%;
          cursor: not-allowed;
        }
      }
    }
  }

}
