.konfigurator-summary-bar {
  margin-bottom: 2em;
  padding: 2em 2em;
  background-color: #f6f6f6;
  .konfigurator-summary {
    max-width: 1645px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    h1 {
      margin-bottom: 0;
      font-size: 2em;
    }
    .summary-section {

      label {
        margin-right: 0.75em;
        margin-bottom: 0;
      }
      span {
        font-size: 2em;
        font-weight: bold;
      }
    }
    .pagination {
      margin-bottom: 0;

      .page-item {
        font-size: 1.15em;
        margin-right: 0.5em;
        &:last-child {
          margin-right: 0;
        }

      }
      .page-link {
        border-radius: 0;
        color: #fff;
        font-size: 1.15em;
        &:hover {
          color: #fff;
        }
        .btn-primary {
          &:active,
          &:focus {
          background-color: #ea6e09;
        }
        }
        &.disabled {
          background-color: #ea6e09;
          opacity: 50%;
          cursor: not-allowed;
        }
        &.backDisabled {
          background-color: #000;
          opacity: 10%;
        }


      }

    }
  }

  .summary-headline {
    width: 33%;
    display: flex;
    justify-content: flex-start;
  }
  .summary-section {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    align-items: baseline;
  }
  .summary-nav {
    width: 33%;
    display: flex;
    justify-content: flex-end;
  }

}

@media (max-width: 1280px) {
  .konfigurator-summary-bar {
    margin-bottom: 2em;
    padding: 2em 2em;
    .konfigurator-summary {
      max-width: 1645px;
      margin: 0 auto;
      h1 {
        font-size: 1.75em;
      }
      .summary-section {
        label {
          margin-right: 0.75em;
          margin-bottom: 0;
        }
        span {
          font-size: 1.75em;
        }
      }
      .pagination {
        margin-bottom: 0;

        .page-item {
          font-size: 1.05em;
          margin-right: 0.5em;
        }
        .page-link {
          font-size: 1.05em;
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .konfigurator-summary-bar {
    margin-bottom: 2em;
    padding: 1.5em 1em;
    .konfigurator-summary {
      flex-wrap: wrap;
      justify-content: flex-end;
      h1 {
        font-size: 1.75em;
      }
      .summary-headline {
        width: 50%;
        display: flex;
        justify-content: flex-start;
      }
      .summary-section {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        label {
          margin-right: 0.75em;
          margin-bottom: 0;
        }
        span {
          font-size: 1.75em;
        }
      }
      .summary-nav {
        width: 100%;
        justify-content: flex-end;
      }
      .pagination {
        width: 100%;
        margin-bottom: 0;
        margin-top: 0.5em;
        .page-item {
          font-size: 1.05em;
          margin-right: 0.5em;
        }
        .page-link {
          font-size: 1.05em;
        }
      }
    }
  }
  .summary-headline {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }
  .summary-section {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  .summary-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 500px) {
  .konfigurator-summary-bar {
    margin-bottom: 1em;
    padding: 1.5em 1em;
    .konfigurator-summary {
      flex-wrap: wrap;
      justify-content: flex-end;
      h1 {
        font-size: 1.5em;
      }
      .summary-section {
        width: 50%;
        text-align: right;
        label {
          margin-right: 0.75em;
          margin-bottom: 0;
          font-size: 0.8em;
        }
        span {
          font-size: 1.5em;
        }
      }
      .pagination {
        width: 100%;
        margin-bottom: 0;
        margin-top: 1em;
        .page-item {
          font-size: 1em;
          margin-right: 0.5em;
        }
        .page-link {
          font-size: 1em;
        }
      }
    }
  }
}
