<div class="container-max-2000">
  <!-- TESTIMONIAL-SLIDER -->
  <div class="testimonial-slider-wrapper">
    <div id="testimonial-slider" class="carousel slide" data-ride="carousel">
      <img class="rating-stars" src="../../../assets/img/rating-stars.png" />
      <h1>Das sagen unsere Kunden</h1>
      <div class="carousel-inner">
        <!-- TESTIMONIAL 1 -->
        <a class="carousel-item active">
          <div class="carousel-caption d-md-block">
            <p>
              Wir haben 2022 unseren Traum vom Haus auf Empfehlung mehrerer
              Bekannter mit der Firma Astori realisieren können. Von allen
              eingeholten Angeboten überzeugte die Firma Astori mit Abstand am
              meisten. Im Verlauf der Planung wurden alle unsere Wünsche von
              Herrn Lorenz verwirklicht, auch Änderungen zwischendurch wurden
              berücksichtigt und ermöglicht. Mit seiner offenen Art und
              Ideenreichtum konnten wir unsere Vorstellungen mit ihm noch
              optimieren. Die einzelnen Gewerke, mit denen die Firma Astori
              zusammenarbeitet, machen einen tollen Job, vor allem der Rohbau
              und Dachstuhl wurden anspruchsvoll und akkurat gestellt. Etwaigen
              Widrigkeiten begegnet Herr Haßler durchwegs kundenorientiert und
              findet einwandfreie zufriedenstellende Lösungen. Alles in allem
              ein absolut empfehlenswertes Unternehmen, bei dem der Mensch zählt
              und man keine Massenabfertigung erfährt! Wir bekommen
              ausschließlich positives Feedback für unser geschmackvolles und
              schönes Haus und würden uns jederzeit wieder für diese Firma
              entscheiden! Unser Dank gilt dem gesamten Team, allen voran Herrn
              Haßler!
            </p>
            <strong>Ann-Christin P.</strong>
          </div>
        </a>
        <!-- TESTIMONIAL 2 -->
        <a class="carousel-item">
          <div class="carousel-caption d-md-block">
            <p>
              Wir waren sehr zufrieden mit unserem Bau mit Meisterhaus. Herr
              Willner hat uns ein ausführliches Angebot mit Grundrissen und
              detaillierten Leistungsverzeichnis, die auf uns zukommenden
              Kosten, sowie unabhängigen zusätzlichen Baukosten erklärt und
              alles geplant. Herr Hassler und seine Mitarbeiter war für uns
              immer direkt ansprechbar und bei Fragen und Anliegen waren immer
              alle interessiert und lösungsorientiert. Bei Problemen wurde
              frühzeitig reagiert und diese angegangen um eine gute und
              kundenorientierte Lösung zu realisieren Besonders gefallen hat es
              uns, dass die Unternehmen, die mit Meisterhaus zusammenarbeiten
              einen hohen Qualitätsstandard haben und zudem regional verortet
              sind.
            </p>
            <strong>Jasmin K.</strong>
          </div>
        </a>
        <!-- TESTIMONIAL 3 -->
        <a class="carousel-item">
          <div class="carousel-caption d-md-block">
            <p>
              Voll Zufrieden! Top Beratungsgespräche durch Uwe Hassler. Thomas
              Kitzmann hat als Bauleiter super Arbeit geleistet. Ihr hattet vor
              allem für uns junge Bauleute beste Erklärungen, Tipps und
              Lösungen.
            </p>
            <strong>Anna K.</strong>
          </div>
        </a>
        <!-- TESTIMONIAL 4 -->
        <a class="carousel-item">
          <div class="carousel-caption d-md-block">
            <p>
              Liebes Team von Astori - Das Meisterhaus, wir möchten uns herzlich
              bedanken, das wir unseren Traum vom Eigenheim, durch Euch
              realisieren konnten. Uns wurde das Meisterhaus von mehreren Leuten
              empfohlen. Unser erstes Gespräch und die Planung hatten wir mit
              dem Geschäftsführer, der sich viel Zeit für uns genommen hat und
              uns über Ablauf und Möglichkeiten informiert hat. Es ist alles
              super gut gelaufen und schnell hatten wir mit Herrn Kitzmann
              unseren Ansprechpartner. An dieser Stelle - besonderen Dank an
              Herrn Kitzmann der IMMER für uns verfügbar war, jede Frage
              beantwortet hat und jederzeit in unserem Sinne agiert hat. Fazit:
              Wir würden jederzeit wieder mit Astori - Das Meisterhaus bauen!
            </p>
            <strong>Jasmin B.</strong>
          </div>
        </a>
        <!-- TESTIMONIAL 5 -->
        <a class="carousel-item">
          <div class="carousel-caption d-md-block">
            <p>
              2022 haben wir mit Astori ein Zweifamilienhaus gebaut. Die Bauzeit
              war geprägt durch regelmäßige Kommunikation, viel Fachwissen und
              lösungsorientierte Herangehensweise. Zu jeder Zeit spürt man die
              Jahre lange Erfahrung von Herrn Haßler und seinem Team.
              Unvorhersehbare Hindernisse wurden stets offen besprochen und
              gemeistert. Die Gewerke und Subunternehmer glänzten durch
              einwandfreie Arbeit. Sie wiesen bei der Planung auf Details hin,
              die man übersehen hat und setzten Änderungen unkompliziert um.
              Ohne Einschränkung zu empfehlen!
            </p>
            <strong>Lukas V.</strong>
          </div>
        </a>
        <!-- TESTIMONIAL 6 -->
        <a class="carousel-item">
          <div class="carousel-caption d-md-block">
            <p>
              Unser erster Kontakt mit Fa. Astori war über Herrn Lorenz, der uns
              während der Angebotsphase begleitete. Wir haben mehrere Baufirmen
              verglichen, bevor wir uns entschieden haben, doch Herr Lorenz
              hatte mit Abstand das transparenteste und detaillierteste Angebot.
              Sämtliche interessanten "Features" wurden einzeln aufgelistet, so
              dass wir unser Haus wie in einem Baukasten-System zusammensetzen
              konnten. Vor Vertragsunterschrift unterstützte uns Herr Lorenz
              gemeinsam mit Herrn Hassler, indem wichtige Unterlagen für die
              Bank vorab zusammengestellt wurden. Natürlich haben wir bei Fa.
              Astori unterschrieben. Der Hausbau wurde von kompetenten und
              regionalen Firmen durchgeführt, die allesamt hervorragende Arbeit
              leisteten. Fragen wurden schnell und zügig geklärt bzw. kleine
              Beanstandungen umgehend behoben. Die Mitarbeiter der Fa. Astori
              waren stets freundlich und hilfsbereit. Während der Planungsphase
              wurden wir immer wieder auf wichtige Details hingewiesen - sprich,
              das Gesamtbild wurde im Auge behalten. Bei Schwierigkeiten und
              Fragen stand Herr Hassler auch jederzeit selbst zur Verfügung und
              hat die Dinge selbst in die Hand genommen, wenn es einmal eng
              wurde. Das Haus ist ausgesprochen gut gelungen und wir würden
              wieder mit Astori bauen.
            </p>
            <strong>Sabrina P.</strong>
          </div>
        </a>
        <!-- TESTIMONIAL 7 -->
        <a class="carousel-item">
          <div class="carousel-caption d-md-block">
            <p>
              Hallo Zusammen, wir haben auch mit "Astori das Meisterhaus" in
              Herzogenaurach "Herzo Base" bebaut. Wir waren von Anfang an bis
              zum Schuss sehr zufrieden. Ob das der Verkäufer, der Bauzeichner,
              der Baustellenleiter, die Assistentin oder der Chef persönlich
              war, wurde uns schnell geholfen, gut beraten und unsere Lasten
              wurden von den Schultern genommen. Wir können uns nur noch
              bedanken und werden weiterhin das Meisterhaus sehr empfehlen. WIR
              SIND SEHR, SEHR ZUFRIEDEN. Herzlichen Dank an das ganze Team und
              ihr seit die Besten Häuserbauer.
            </p>
            <strong>Zoran S.</strong>
          </div>
        </a>
      </div>
      <a
        class="carousel-control-prev"
        href="#testimonial-slider"
        role="button"
        data-slide="prev"
      >
        <div class="slide-prev-control-wrapper">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </div>
      </a>
      <a
        class="carousel-control-next"
        href="#testimonial-slider"
        role="button"
        data-slide="next"
      >
        <div class="slide-next-control-wrapper">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </div>
      </a>
    </div>
    <!-- BUTTON-BAR -->
    <div class="button-bar">
      <!-- <a href="#">Mehr erfahren</a> -->
      <a
        href="https://www.google.com/search?rlz=das-meisterhaus&source=hp&ei=BBTdXdrHIYyyrgSq34RA&q=das+meisterhaus"
        target="_blank"
        class="btn btn-primary"
        >Alle Bewertungen</a
      >
    </div>
  </div>
</div>
