<div class="container-max-2000">
  <!-- SUB-NAVIGATION -->
  <div class="sub-nav-wrapper">
    <div class="display-flex">
      <div id="{{ subNavItem1Id }}" class="{{ subNavItem1Size }}">
        <a href="{{ subNavItem1Url }}" class="sub-nav-item">
          <div class="caption text-align-center">
            <h1>{{ subNavItem1Headline }}</h1>
            <h2>{{ subNavItem1Subline }}</h2>
          </div>
        </a>
      </div>
      <div id="{{ subNavItem2Id }}" class="{{ subNavItem2Size }}">
        <a href="{{ subNavItem2Url }}" class="sub-nav-item">
          <div class="caption text-align-center">
            <h1>{{ subNavItem2Headline }}</h1>
            <h2>{{ subNavItem2Subline }}</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
