/*****************************/
/* INDIVIDUELL BAUEN - FORM */
/***************************/
.individuell-bauen-form {
  margin-bottom: 3em;
  .input-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 1em;
    label {
      display: flex;
      font-weight: 700;
      text-transform: uppercase;
      font-family: open-sans-condensed, sans-serif;
    }
  }
  button,
  a.btn {
    margin-top: 1em;
    width: 100%;
  }
}
/*************************/
/* SMALL */
@media (max-width: 767px) {
  .individuell-bauen-form {
    margin-bottom: 3em;
    .input-wrapper {
      width: 100%;
      .col-2 {
        max-width: 40%;
        flex: 0 0 40%;
      }
      .col-3 {
        max-width: 60%;
        flex: 0 0 60%;
      }
    }
  }
}
