<div class="option-wrapper" [formGroup]="konfiguratorService.formular">
  <div formGroupName="ausstattung" class="ausstattungs-wrapper">
    <!-- SATTELDACH -->
    <div class="option animate__animated animate__fadeIn">
      <input
        class="konfigurator-option"
        formControlName="kellergeschoss"
        id="kellergeschoss"
        type="checkbox"
      />
      <label for="kellergeschoss">
        <span>Kellergeschoss <br />+ 59.900 €</span>
      </label>
    </div>
    <!-- SATTELDACH -->
    <div class="option animate__animated animate__fadeIn">
      <input
        class="konfigurator-option"
        formControlName="vinylboden"
        id="vinylboden"
        type="checkbox"
      />
      <label for="vinylboden">
        <span>Vinylboden <br />+ 59.900 €</span>
      </label>
    </div>

    <!-- SATTELDACH -->
    <div class="option animate__animated animate__fadeIn">
      <input
        class="konfigurator-option"
        formControlName="elektrischeRolladen"
        id="elektrischeRolladen"
        type="checkbox"
      />
      <label for="elektrischeRolladen">
        <span>Elektrische-Rolladen <br />+ 8.390 €</span>
      </label>
    </div>
    <!-- SATTELDACH -->
    <div class="option animate__animated animate__fadeIn">
      <input
        class="konfigurator-option"
        formControlName="malerarbeitenInnen"
        id="malerarbeitenInnen"
        type="checkbox"
      />
      <label for="malerarbeitenInnen">
        <span>Malerarbeiten innen <br />+ 7.990 €</span>
      </label>
    </div>

    <!-- SATTELDACH -->
    <div class="option animate__animated animate__fadeIn">
      <input
        class="konfigurator-option"
        formControlName="lueftungsanlageZentral"
        id="lueftungsanlageZentral"
        type="checkbox"
      />
      <label for="lueftungsanlageZentral">
        <span>Lüftungsanlage zentral <br />+ 12.890 €</span>
      </label>
    </div>
    <!-- SATTELDACH -->
    <div class="option animate__animated animate__fadeIn">
      <input
        class="konfigurator-option"
        formControlName="lueftungsanlageDezentral"
        id="lueftungsanlageDezentral"
        type="checkbox"
      />
      <label for="lueftungsanlageDezentral">
        <span>Lüftungsanlage dezentral <br />+ 9.890 €</span>
      </label>
    </div>
  </div>
</div>
