<div class="reference-details-wrapper">
  <h1>Details</h1>
  <div class="reference-details">
    <!-- STANDORT -->
    <div class="detail">
      <strong class="detail-label">Standort:</strong>
      <span class="detail-attribute">{{ referenceDetails[0] }}</span>
    </div>
    <!-- BAUJAHR -->
    <div class="detail">
      <strong class="detail-label">Baujahr:</strong>
      <span class="detail-attribute">{{ referenceDetails[1] }}</span>
    </div>
    <!-- HAUSTYP -->
    <div class="detail">
      <strong class="detail-label">Haustyp:</strong>
      <span class="detail-attribute">{{ referenceDetails[2] }}</span>
    </div>
    <!-- DACHFORM -->
    <div class="detail">
      <strong class="detail-label">Dachform:</strong>
      <span class="detail-attribute">{{ referenceDetails[3] }}</span>
    </div>
    <!-- WOHNFLÄCHE -->
    <div class="detail">
      <strong class="detail-label">Wohnfläche in m²:</strong>
      <span class="detail-attribute">{{ referenceDetails[4] }}</span>
    </div>
    <!-- WOHNGESCHOSSE -->
    <div class="detail">
      <strong class="detail-label">Wohngeschosse:</strong>
      <span class="detail-attribute">{{ referenceDetails[5] }}</span>
    </div>
    <!-- AKTIONSHAUS -->
    <div class="detail">
      <strong class="detail-label">Aktionshaus:</strong>
      <span class="detail-attribute">{{ referenceDetails[6] }}</span>
    </div>
  </div>
</div>
