<div class="option-wrapper" [formGroup]="konfiguratorService.formular">
  <!-- SATTELDACH -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="kamin"
      id="kaminNein"
      type="radio"
      [value]="kamin.nein"
    />
    <label for="kaminNein">
      <img
        src="../../../../../assets/konfigurator/{{
          konfiguratorService.stepUrl(6, kamin.nein)
        }}.jpg"
      />
      <span>Nein</span>
    </label>
  </div>
  <!-- SATTELDACH -->
  <div class="option animate__animated animate__fadeIn">
    <input
      class="konfigurator-option"
      formControlName="kamin"
      id="kaminJa"
      type="radio"
      [value]="kamin.ja"
    />
    <label for="kaminJa">
      <img
        src="../../../../../assets/konfigurator/{{
          konfiguratorService.stepUrl(6, kamin.ja)
        }}.jpg"
      />
      <span>Ja</span>
    </label>
  </div>
</div>
