<!-- FOOTER -->
<div class="footer-wrapper">
  <div class="container">
    <div class="footer">
      <!-- FIRST ROW -->
      <div class="row margin-bottom-2em">
        <div class="col footer-logo">
          <img src="../../../assets/img/head/logo.png" />
        </div>
        <div class="col text-align-right">
          <a href="/impressum" class="footer-link">Impressum</a>
          <a href="/datenschutz" class="footer-link">Datenschutz</a>
        </div>
      </div>
      <!-- SECOND ROW -->
      <div class="row">
        <div class="col footer-adress">
          <!-- <p>Astori GmbH<br />Das Meisterhaus</p> -->
          <p>Robert-Bosch-Straße 3<br />91413 Neustadt an der Aisch</p>
          <p><strong>Mo - Do:</strong> 8.00 - 17.00 Uhr<br/>
            <strong>FR:</strong> 8.00 - 14.00 Uhr
          </p>
        </div>
        <div class="col footer-adress tel">
          <p>
            <a href="tel:(+49)91618726280">Tel: 09161 / 872628-0</a> <br />Fax:
            09161 / 872628-1
          </p>
          <p>
            <a href="mailto:info@das-meisterhaus.de">info&#64;das-meisterhaus.de</a
            ><br />www.das-meisterhaus.de
          </p>
        </div>
        <div class="col text-align-right">
          <img class="signet" src="../../../assets/img/footer/batch-ihk.png" />
          <img class="signet" src="../../../assets/img/footer/batch-immo.png" />
          <img
            class="signet jahre"
            src="../../../assets/img/footer/batch-20jahre.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>
