/*************************/
/* FOOTER */
/*************************/
.footer-wrapper {
  background-color: #f6f6f6;
  .footer {
    padding: 2em 0 0.5em 0;
    .row {
      .col {
        justify-content: flex-end;
        p {
          text-transform: uppercase;
        }
        .footer-link {
          margin-left: 1em;
          text-decoration: none !important;
          color: #f38800;
            &:hover {
              color: #ea6e09;
            }
        }
        .signet {
          width: 8.5em;
          &.jahre {
            width: 4.5em;
          }
        }
      }
      .footer-logo {
        img {
          width: 12em;
        }
      }
    }
  }
}
/*************************/
/* SMALL */
@media (max-width: 767px) {
  .col.footer-adress {
    display: none;
  }
  .col.footer-logo {
    display: none;
  }
  .col.text-align-right {
    text-align: center;
  }
  // .signet {
  //   display: none;
  // }
}
