<!-- HEAD / NAVIGATION -->
<app-navigation></app-navigation>

<!-- *********************************** -->
<!-- REFERENZ-VIEW -->
<div class="reference-views-wrapper">
  <!-- REFERENZ-SLIDER -->
  <app-referenz-slider [slides]="view.images"></app-referenz-slider>
  <!-- REFERENZ-DETAILS -->
  <app-referenz-details
    [referenceDetails]="view.details"
  ></app-referenz-details>
</div>

<!-- *********************************** -->
<!-- CTA-CONTACT-->
<app-cta-contact></app-cta-contact>
<!-- TESTIMONIAL-SLIDER -->
<app-testimonial-slider></app-testimonial-slider>

<!-- FOOTER -->
<app-footer></app-footer>

<!-- [referenceDetails]="['Weisendorf', 'Versetztes Pultdach', '114 m²', '2', 'Ja']" -->
